<div id="admin_display_buttons">

  <section id="display_buttons">

    <h3>Which buttons can be accessed?</h3>

    <table id="display_button_list" style="display: none;">
      <thead>
        <tr>
          <th width="100">Button</th>
          <% Role.find(:all, :order => :id).each do |role| %>
            <% next if role.id == Role::SUPER_USER_ROLE_ID %>
            <th width="60"><%=role.name%></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% DisplayButton.all.each do |db| %>
          <tr>
            <td><%= db.button_text %></td>
            <% Role.find(:all, :order => :id).each do |role| %>
              <% dbr = DisplayButtonRole.for_button(db.id, role.id) %>
              <% next if role.id == Role::SUPER_USER_ROLE_ID %>
              <td>
                <%= check_box_tag "#{db.button_text}_#{role.name}", dbr.show_on_admin_screen, dbr.show_on_admin_screen,
                  :onchange => "displayButtonRoleAdminScreenSelect(#{dbr.id}, this.checked);" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

  </section>
</div>