<div id="price_info">

  <div class="header">Product Info</div>
  <div class="clear">&nbsp;</div>

  <div class="label">Product Name:</div>
  <div class="value"><%=product.name%></div>
  <div class="clear">&nbsp;</div>

  <div class="label">Current Price:</div>
  <div class="value"><%=print_money product.price%></div>
  <div class="clear_top_margin_10">&nbsp;</div>

</div>