<% content_for :admin_subnav_links_right do %>
  <%= render :partial => "/partials/interfaces/large_screen/ok_cancel_buttons" %>
  <%= render :partial => "/partials/interfaces/large_screen/terminal_reload_request" %>
<% end %>

<div id="admin_terminal_list">

  <section id="displays">

    <h3>Terminals</h3>

    <table id="terminal_list" class="admin_table">
      <thead>
        <tr>
          <th width="400">Terminal Name</th>
          <th width="400">Display</th>
        </tr>
      </thead>

      <tbody>
        <% @terminals.each do |terminal| %>
          <tr>
            <td><%= terminal %></td>
            <td>
              <%= select_tag "Display", options_from_collection_for_select(@displays, "id", "name", TerminalDisplayLink.for_terminal(terminal).try(:display_id)), :onchange => "linkTerminalDisplay('#{terminal}', this.value)" %>
            </td>
            <td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </section>
</div>