/* 
    Document   : menu_builder
    Created on : 15-Apr-2011, 10:34:01
    Author     : Lee
    Description:
        For the menu builder interface grid.
*/

/* Main Menu Screen */

div#display_builder {
    width: 1000px;
    margin: auto;
}

div#display_builder div#builder {
    height: 600px;
}

div#display_builder div#header {
    display: inline-block;
    margin: 10px 0px;
}

div#display_builder div#header div#display_name {
    font-weight: bold;
    font-size: 14px;
    float: left;
}

div#display_builder div#header a#rename_link {
    float: left;
    margin-left: 8px;
    text-decoration: none;
}

div#display_builder div#header input#display_name_input {
    float: left;
}

div#display_builder div#header a#delete_link {
    float: left;
    margin-left: 8px;
    text-decoration: none;
}

div#display_builder div#menu_pages_container {
    position: relative;
    width: 740px;
    float: right;
}

div#display_builder div#menu_pages_container div#pages {
    padding-left: 2px;
    border-spacing: 2px;
}

div#display_builder div#menu_pages_container div#builder_menu_items_container {
    height: 420px;
    padding-top: 4px;
    background-color: #E0E0E0;
}

div#display_builder div#menu_pages_container div#pages  {
    border-spacing: 2px;
    margin-bottom: -4px;
    background-color: #B4B4B4;
}

div#display_builder div#menu_pages_container div#pages div.page {
    position: relative;
    margin: 1px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 55px;
    width: 88px;
    cursor: pointer;
    border: 1px solid #AAA;
    top-lcursor: pointer;
    -moz-border-top-left-radius: 7px;
    -moz-border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: #F8F8F8;
    background: -moz-linear-gradient(#D8D8D8, #B4B4B4) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#D8D8D8), to(#B4B4B4));
}

div#display_builder div#menu_pages_container div#pages div.delete_link {
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 1px 3px;
    cursor: pointer;
}

div#display_builder div#menu_pages_container div#pages div.delete_link a {
    color: red;
    text-decoration: none;
}


div#display_builder div#menu_pages_container div#pages div.selected {
    border-bottom-width: 0px;
    background-color: #E0E0E0;
    background: -moz-linear-gradient(#F8F8F8, #E0E0E0) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#E0E0E0));
}

div#display_builder div#menu_pages_container div#pages div.page div.name {
    font-size: 13px;
    color: black;
    text-decoration: none;
    padding: 4px;
}

div#display_builder div#menu_pages_container div#pages div.page div.name a:hover {
    background-color: transparent;
}

div#display_builder div#menu_pages_container div#builder_menu_items_container div#items {
    text-align: left;
}

div#display_builder div#menu_pages_container div#builder_menu_items_container div#items div.item_container {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #CCC;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #FFF;
    margin: 1px;
    box-shadow: 0 1px 0 #777777;
}

div#display_builder div#menu_pages_container div#builder_menu_items_container div#items div.item {
    position: relative;
    height: 92px;
    width: 88px;
}

div#display_builder div#menu_pages_container div#builder_menu_items_container div#items div.item div.delete_link {
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 1px 3px;
    cursor: pointer;
    color: red;
    text-decoration: none;
    background-color: #FFF;
}

div#display_builder div#menu_pages_container div#builder_menu_items_container div#items div.item div.item_pic {
    padding-top: 2px;
}

div#display_builder div#menu_pages_container div#builder_menu_items_container div#items div.item div.item_pic img {
    height: 56px;
}

div#display_builder div#menu_pages_container div#builder_menu_items_container div#items div.item div.drag_message {
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    background-color: #FFF;
    padding: 15px 2px;
}

div#display_builder div#menu_pages_container div#builder_menu_items_container div#items div.item div.loading_message {
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    background-color: #FFF;
    padding: 15px 2px;
}

div#display_builder div#menu_pages_container div#builder_menu_items_container div#items div.item div.item_name {
    position: absolute;
    font-size: 11px;
    text-decoration: none;
    background-color: #FFF;
    padding: 1px;
    bottom: 0px;
    width: 82px;
}

div#display_builder div#menu_pages_container div#builder_menu_items_container div#items div.new_item {
    
}

div#display_builder div#menu_pages_container div#builder_menu_items_container div#items div.new_item div.item_name {
    font-size: 12px;
    background-color: #FFF;
    padding: 15px 2px;
}

div#display_builder {
    width: 1000px;
    margin: auto;
}

div#display_builder div#tree_container {
    width: 210px;
    float: left;
}

div#display_builder ul#products_tree,
div#display_builder ul#products_tree ul {
    list-style-type: none;
    padding-left: 7px;
}

div#display_builder ul#products_tree li ul li{
    text-align: left;
    margin: 12px 1px;
}

div#display_builder ul#products_tree li ul ul li {
    text-align: left;
    margin: 18px 1px;
}

div#display_builder ul#products_tree li ul li a,
div#display_builder ul#products_tree li ul li ul li a {
    text-decoration: none;
}

div#display_builder ul#products_tree li ul li a {
    font-weight: bold;
    font-size: 14px;
}

div#display_builder ul#products_tree li ul li ul li a {
    font-weight: normal;
}

div#display_builder ul#products_tree div.select_product {
    cursor: pointer;
    font-weight: bold;
    width: -moz-max-content;
    z-index: 100;
}

div#display_builder ul#products_tree div.select_product img {
    width: 34px;
    height: 34px;
    float: left;
    margin: -12px 10px 0px 0px;
}

div#display_builder ul#products_tree div.name {
    float: left;
}

div#display_builder ul#products_tree div.edit_link {
    float: right;
}

div#display_builder ul#products_tree div.edit_link a {
    font-size: 10px;
    text-decoration: underline;
}

div#display_builder ul#products_tree .menuTree:before {
    content: "+ ";
}

div#display_builder ul#products_tree .expanded:before {
    content: "- ";
}

div#display_builder ul#products_tree .collapsed {
    display: none;
}

/* End Menu Builder  */



