<div id="functions_screen" class="content-item">
  <div id="header" class="screen_header">
    <div id="back_button" class="small_button" onclick="swipeToMenu();">Menu</div>
    <div class="header_label">Functions</div>
  </div>
  
  <!--div id="top_section">
    <div id="menu_switcher_container">
      Menu Switcher
    </div>
  </div-->
  
  <div id="functions_buttons_container">

    <% @functions_display_buttons.each_with_index do |db, index| %>
      <% if index != 0 and index % 4 == 0 %><div class="clear">&nbsp;</div><% end %>
      <div id="sales_button_<%=db.id%>" 
           class="button" onclick="<%= button_action db %>">
        <div class="icon">
          <%= button_icon db %>
        </div>
        <div class="button_name"><%=db.button_text%></div>
      </div>
    <% end %>
  </div>
</div>