<div id="receipt_screen" class="content-item">
  <div id="header">
    Table
  </div>
  <div id="large_receipt_container">
    <div id="large_menu_screen_receipt" class="receipt">
      <div id="large_menu_screen_till_roll" class="till_roll"></div>
    </div>
  </div>
</div>