<div id="content-scroll">
  <div id="content-holder">
    <%= render "/home/interfaces/medium_screen/screens/receipt_screen" %>
    <%= render "/home/interfaces/medium_screen/screens/menu_screen" %>
    <%= render "/home/interfaces/medium_screen/screens/functions_screen" %>
  </div>
</div>