<div class="dropdown_container">
    <div class="label">View</div>
    <%= collection_select :employee_id, :equals, current_outlet.employees.all.sort_by{|p| p.name.downcase}, :id, :name, options = {:include_blank => "Any", :selected => @current_method}, {:onchange => "loadPaymentDropDown('employee')", :style=>'width:105px'} %>
    <div class="clear">&nbsp;</div>
</div>