<div id="more_options" style="display: none;">
  <div id="admin_subnav">
    <div class="link" onclick="showMenuScreen();">
      Menu Screen
    </div>
  </div>
  
  <div class="clear">&nbsp;</div><div id="options_screen">
    <div id="options_screen_menu_buttons">
      Loading Permissions...
    </div>
  </div>
</div>