<%= show_flash.html_safe %>

<div id="admin_subnav_left">
  <%= render :partial => "/partials/menu_screen_options_screen_buttons" %>

  <%= yield :admin_subnav_links_left %>

</div>

<div id="admin_subnav_right">
  <%= yield :admin_subnav_links_right %>
</div>

<div class="clear">&nbsp;</div>