/* 
    Document   : menu_builder
    Created on : 15-Apr-2011, 10:34:01
    Author     : Lee
    Description:
        For the menu builder interface grid.
*/

/* Main Menu Screen */

div#display_builder {
    width: 1000px;
    margin: auto;
}

div#display_builder div#menu_pages_container {
    width: 728px;
    float: right;
    border: 1px solid #CCC;
}

div#display_builder div#menu_pages_container div#pages {
    padding-left: 2px;
    border-spacing: 2px;
}

div#display_builder div#menu_pages_container div#builder_menu_items_container {
    height: 360px;
    padding-left: 2px;
}

div#display_builder div#menu_pages_container div#pages div.page {
    border: 1px solid #CCC;
    width: 100px;
    background-color: #fad42e;
    cursor: pointer;
    height: 100px;
    display: table-cell;
    height: 85px;
    width: 112px;
    vertical-align: middle;
}

div#display_builder div#menu_pages_container div#pages div.delete_link {
    padding: 1px 3px;
    float: right;
    background-color: #FFF;
    border: 1px solid #CCC;
    cursor: pointer;
    margin-top: -37px;
    margin-right: 4px;
}

div#display_builder div#menu_pages_container div#pages div.delete_link a {
    font-weight: bold;
    color: red;
    text-decoration: none;
}

div#display_builder div#menu_pages_container div#pages div.selected {
    background-color: #fbec88;
}

div#display_builder div#menu_pages_container div#pages div.new_page {
    margin: 1px;
    cursor: pointer;
    background-color: #FFF;
    border: 1px solid #CCC;
    display: table-cell;
    height: 115px;
    width: 117px;
    vertical-align: middle;
}

div#display_builder div#menu_pages_container div#pages div.new_page div.name {
    font-size: 14px;
    font-weight: bold;
    color: black;
    padding: 4px;
    text-decoration: underline;
}

div#display_builder div#menu_pages_container div#pages div.page div.name {
    font-weight: bold;
    font-size: 14px;
    color: black;
    text-decoration: none;
    cursor: text;
}

div#display_builder div#menu_pages_container div#pages div.page div.name a:hover {
    background-color: transparent;
}

div#display_builder div#menu_pages_container div#builder_menu_items_container div#items {

}

div#display_builder div#menu_pages_container div#builder_menu_items_container div#items div.item {
    float: left;
    margin: 1px;
    border: 1px solid #CCC;
    height: 123px;
    width: 112px;
}

div#display_builder div#menu_pages_container div#builder_menu_items_container div#items div.item div.item_pic {
    height: 78px;
    margin-top: -1px;
}

div#display_builder div#menu_pages_container div#builder_menu_items_container div#items div.item div.delete_link {
    font-weight: bold;
    color: red;
    margin-right: 4px;
    margin-top: 4px;
    padding: 1px 3px;
    float: right;
    background-color: #FFF;
    border: 1px solid #CCC;
    cursor: pointer;
}

div#display_builder div#menu_pages_container div#builder_menu_items_container div#items div.item div.drag_message {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: #FFF;
    padding: 4px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

div#display_builder div#menu_pages_container div#builder_menu_items_container div#items div.item div.loading_message {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: #FFF;
    padding: 4px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

div#display_builder div#menu_pages_container div#builder_menu_items_container div#items div.item div.item_pic img {
    position: relative;
    z-index: -1;
    height: 78px;
}

div#display_builder div#menu_pages_container div#builder_menu_items_container div#items div.item div.item_name {
    font-size: 13px;
    text-decoration: none;
    background-color: #FFF;
    padding: 4px;
    width: -moz-fit-content;
    margin-left: auto;
    margin-right: auto;
}

div#display_builder div#menu_pages_container div#builder_menu_items_container div#items div.new_item {
    float: left;
    margin: 1px;
    border: 1px solid #CCC;
    cursor: pointer;
    width: 112px;
    height: 123px;
}

div#display_builder div#menu_pages_container div#builder_menu_items_container div#items div.new_item div.item_name {
    font-size: 13px;
    font-weight: bold;
    margin-top: 42px;
    background-color: #FFF;
    padding: 4px;
    width: -moz-fit-content;
    margin-left: auto;
    margin-right: auto;
}

div#display_builder {
    width: 1000px;
    margin: auto;
}

div#display_builder div#tree_container {
    width: 265px;
    float: left;
}

div#display_builder ul#products_tree,
div#display_builder ul#products_tree ul {
    list-style-type: none;
    padding-left: 7px;
}

div#display_builder ul#products_tree li ul li{
    text-align: left;
    margin: 12px 1px;
}

div#display_builder ul#products_tree li ul ul li {
    text-align: left;
    margin: 18px 1px;
}

div#display_builder ul#products_tree li ul li a,
div#display_builder ul#products_tree li ul li ul li a {
    text-decoration: none;
}

div#display_builder ul#products_tree li ul li a {
    font-weight: bold;
    font-size: 14px;
}

div#display_builder ul#products_tree li ul li ul li a {
    font-weight: normal;
}

div#display_builder ul#products_tree div.select_product {
    cursor: pointer;
    font-weight: bold;
    width: -moz-max-content;
}

div#display_builder ul#products_tree div.select_product img {
    width: 34px;
    height: 34px;
    float: left;
    margin: -12px 10px 0px 0px;
}

div#display_builder ul#products_tree div.name {
    float: left;
}

div#display_builder ul#products_tree div.edit_link {
    float: right;
}

div#display_builder ul#products_tree div.edit_link a {
    font-size: 10px;
    text-decoration: underline;
}

div#display_builder ul#products_tree .menuTree:before {
    content: "+ ";
}

div#display_builder ul#products_tree .expanded:before {
    content: "- ";
}

div#display_builder ul#products_tree .collapsed {
    display: none;
}

/* End Menu Builder  */



