/* 
    Document   : receipt_for_print
    Created on : 18-Jun-2011, 19:28:53
    Author     : lee
    Description:
        This is a blank template we use to print the receipt
*/

div#print_receipt_wrapper {
    color: #333333;
    font-family: verdana;
    font-size: 12px;
    line-height: 15px;
    background-color: #FFF;
    margin-bottom: 20px;
}

div#print_receipt_wrapper div.clear {
    height: 1px;
    clear: both;
}

div#print_receipt_wrapper div#print_receipt {
    
}

div#print_receipt_wrapper div.receipt div.till_roll div.business_info {
    text-align: center;
    font-weight: bold;
    margin: 20px 0px;
}

div#print_receipt_wrapper div.receipt div.till_roll div.data_table {
    margin: 10px 0px;
}

div#print_receipt_wrapper div.receipt div.till_roll div.data_table div.label {
    float: left;
    text-align: left;
    width: 130px;
}

div#print_receipt_wrapper div.receipt div.till_roll div.data_table div.data {
    float: left;
    text-align: right;
    width: 112px;
    font-weight: bold;
}

div#print_receipt_wrapper div.receipt div.till_roll div.order_line {
    margin: 0px 2px;
    cursor: pointer;
}

div#print_receipt_wrapper div.receipt div.till_roll div.order_line.not_synced div.name {
    font-style: italic;
    font-weight: bold;
}

div#print_receipt_wrapper div.receipt div.till_roll div.order_line.selected {
    border: 2px solid #4297D7;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div#print_receipt_wrapper div.receipt div.till_roll div.amount {
    float: left;
    text-align: left;
    width: 37px;
    margin-left: 3px;
}

div#print_receipt_wrapper div.receipt div.till_roll div.name {
    float: left;
    width: 160px;
    text-align: left;
}

div#print_receipt_wrapper div.receipt div.till_roll div.modifier_name {
    float: left;
    width: 150px;
    margin-left: 50px;
    text-align: left;
}

div#print_receipt_wrapper div.receipt div.till_roll div.modifier_price {
    float: left;
    width: 40px;
    text-align: right;
}

div#print_receipt_wrapper div.receipt div.till_roll div.total {
    float: left;
    width: 40px;
    text-align: right;
}

div#print_receipt_wrapper div.receipt div.till_roll div.discount div.header {
    float: left;
    width: 120px;
    text-align: right;
    font-style: italic;
}

div#print_receipt_wrapper div.receipt div.till_roll div.discount div.discount_amount {
    float: left;
    width: 66px;
    text-align: right;
    font-style: italic;
}

div#print_receipt_wrapper div.receipt div.till_roll div.discount div.new_price {
    float: left;
    width: 40px;
    text-align: left;
    font-style: italic;
}

div#print_receipt_wrapper div.receipt div.till_roll div.discount div.header {
    float: left;
    width: 120px;
    text-align: right;
    font-style: italic;
}