/* 
    Document   : style
    Created on : 28-Mar-2011, 22:19:16
    Author     : Lee
    Description:
        Main stylesheet.
*/

/* Global Styles */

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: #333333;
    font-family: verdana;
    font-size: 12px;
    height: 768px;
    overflow: hidden;
    line-height: 15px;

    /* disable text selection */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;

}

input[type=radio], input[type=checkbox], select {
    cursor: pointer;
}

a:hover {
    background-color: transparent;
    color: #333;
}

input[type=checkbox], 
input[type=radio],
input[type=submit] {
    cursor: pointer;
}

div.label_subtext {
    clear: both;
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
}

div.clear {
    height: 1px;
    clear: both;
}

div.clear_spacer {
    height: 23px;
    clear: both;
    width: 100%;
    background-color: #CCC;
    background: -moz-linear-gradient(#D8D8D8, #B4B4B4) repeat scroll 0 0 transparent;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

div.clear_top_margin_5 {
    height: 5px;
    clear: both;
}

div.clear_top_margin_10 {
    height: 10px;
    clear: both;
}

div.clear_top_margin_20 {
    height: 20px;
    clear: both;
}

.left { 
    float: left;
}

.right { 
    float: right;
}

form label {
    font-weight: bold;
}

input[type="submit"] {
    cursor: pointer;
}

div#wrapper {
    width: 1020px;
    margin: auto;
    text-align: center;
}

div.wrapper div {
    text-align: center;
}

div.wrapper div td {
    text-align: left;
}

div#content_container {
    background-color: #e0e0e0;
    min-height: 728px;
}

header {
    width: 100%;
    background-color: #4297d7;
    height: 60px;
}

header div#logo {
    float: left;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
}

div#terminal_reload_notice {
    width: 670px;
    margin: 10px auto;
    clear: both;
    border: 1px solid #CCC;
    padding: 6px;
}

div#terminal_reload_notice div#notice {
    float: left;
    width: 65%;
    text-align: justify;
}

div#terminal_reload_notice div#button_container {
    float: left;
    margin-left: 10px;
    width: 30%;
    margin-top: 5px;
}

span#reload_message {
    cursor: pointer;
}

/* End Global Styles */

/* Flash Messages */

.flash {
    text-align: center;
    width: 230px;
    background-position: 5px 50%;
    background-repeat: no-repeat;
    padding: 5px;
    float: right;
    background-color: #FFF;
}

.flash_notice {
    BORDER: #090 2px solid;
    /*BACKGROUND-IMAGE: url(/images/icon_success_lrg.gif);*/
}

.flash_warning {
    BORDER: #c60 2px solid;
    /*BACKGROUND-IMAGE: url(/images/icon_warning_lrg.gif);*/
}

.flash_error {
    BORDER: #f00 2px solid;
    /*BACKGROUND-IMAGE: url(/images/icon_error_lrg.gif);*/
}

/* End Flash Messages */

/* Landing Page */

div#landing {

}

div#landing div#active_users_buttons_container {
    width: 740px;
    float: right;
    border: 1px solid #AAA;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

div#landing div#active_users_buttons_container div.buttons {
    border-spacing: 6px;
}

div#login_popup {
    width: 200px;
    height: 80px;
    padding: 10px;
}

div#login_popup div#header {
    width: 100%;
    font-weight: bold;
    font-size: 14px;
}

div#login_popup div.passcode_show {
    width: 100%;
    border: 1px solid #DDD;
    height: 20px;
    margin-top: 4px;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
}

div#login_popup div#submit_passcode {
    text-align: center;
    float: right;
    width: 70px;
    padding: 3px;
    border: 1px solid #DDD;
    height: 20px;
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}

div#login_popup div#cancel_show_login {
    text-align: center;
    float: right;
    width: 70px;
    padding: 3px;
    border: 1px solid #DDD;
    height: 20px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

div#landing div#active_users_buttons_container div#active_users {
    height: 616px;
}

div#landing div#active_users_buttons_container div#active_users div.employee_box {
    width: 95px;
    font-size: 15px;
    height: 83px;
    font-weight: bold;
    padding: 7px;
    border: 2px outset #000;
    margin: 10px;
    cursor: pointer;
    float: left;
    border: 1px solid #AAAAAA;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 3px #CCCCCC;
    background-color: #FFF;
}

div#landing div#active_users_buttons_container div#active_users div.employee_box div.nickname {

}

div#landing div#active_users_buttons_container div#active_users div.employee_box div.avatar img {
    height: 60px;
}

div.fullscreen{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div#landing div#login_receipt_keypad_container {
    width: 265px;
    float: left;
    border: 1px solid #AAA;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

div#landing div#login_receipt_keypad_container div#login_receipt {
    height: 380px;
    background-color: white;
    overflow-y: auto;
    display: block;
    padding-left: 5px;
}

div#landing div#login_receipt_keypad_container div#login_receipt div#login_till_roll {
    height: 350px;
    display: block;
    background-color: #FFF;
}

div#landing div#login_receipt_keypad_container div#login_receipt div#receipt_message {
    margin-top: 50px;
    font-weight: bold;
    color: green;
}

div#landing div#login_receipt_keypad_container div#login_receipt_header {
    background: -moz-linear-gradient(#D8D8D8, #B4B4B4) repeat scroll 0 0 transparent;
    border: 1px solid #AAA;
    padding: 2px;
    font-weight: bold;
    font-size: 14px;
    height: 15px;
}

div#landing div#login_receipt_keypad_container div#entered_code_container {
    height: 40px;
    clear: both;
    width: 100%;
    background: -moz-linear-gradient(#D8D8D8, #B4B4B4) repeat scroll 0 0 transparent;
}

div#landing div#login_receipt_keypad_container div#entered_code_container div#clockincode_show {
    border: 1px solid #DDD;
    width: 220px;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
    float: left;
    border: 1px solid #CCC;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0px 1px 1px 0px #777;
    margin-left: 20px;
    margin-top: 6px;
    margin-right: 20px;
    background-color: #FFF;
}

/* End Landing Page */

/* Admin Global */

div#admin_subnav {
    margin: 6px;
    padding-top: 5px;
}

div#admin_subnav div.link {
    float: left;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
    padding: 6px;
    border: 2px outset #AAA;
    -moz-border-radius: 4px;
    border-radius: 4px;  
    box-shadow: 1px 1px 3px #CCC;
    background: -moz-linear-gradient(#FFF, #CCC) repeat scroll 0 0 transparent;
}

div#admin_subnav div.link a {
    text-decoration: none;
    color: #000;
}

div#admin_subnav div.link a:hover {
    text-decoration: none;
    color: #000;
}

div#admin_subnav div#back_link,
div#admin_subnav div#forward_link{
    float: left;
    margin-right: 4px;
    cursor: pointer;
    height: 32px;
}

div#admin_subnav div#back_link img,
div#admin_subnav div#forward_link img {
    height: 32px;
}

/* Admin Global */

/* Admin Users Page */

div#admin_employee_list section#employees {
    width: 735px;
    margin-left: auto;
    margin-right: auto;
}

div#admin_employee_list section#employees table#employee_list td.avatar {
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

div#admin_employee_list section#employees table#employee_list td.avatar img {
    height: 40px;
}

div#admin_employee_list section#employees div#actions {
    float: right;
}

div#new_employee section#form_container {
    width: 470px;
    margin: auto;
    text-align: center;
}

div#new_employee section#form_container h3 {
    width: 250px;
    margin: auto;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

div#new_employee section#form_container div#fields {
    width: 250px;
    margin: auto;
}

div#new_employee section#form_container div.employee_image img {
    height: 100px;
}

div#new_employee section#form_container form div {
    text-align: left;
}

div#new_employee section#form_container form div#actions a {
    float: right;
    margin: 3px 8px 0px 0px;
}

div#new_employee section#form_container form div#actions input {
    float: right;
}

div#show_employee section#employee_info {
    margin: 20px auto 20px auto;
    width: 270px;
    text-align: left;
}

div#show_employee section#employee_info p.employee_image img {
    height: 70px;
}

div#show_employee section#employee_info div#actions a {
    float: right;
    margin: 3px 8px 0px 0px;
}

div#show_employee section#employee_info div#actions input {
    float: right;
}

div#edit_employee section#form_container {
    width: 470px;
    margin: auto;
    text-align: center;
}

div#edit_employee section#form_container div.employee_image p.label {
    font-weight: bold;
}

div#edit_employee section#form_container div.employee_image img {
    height: 100px;
}

div#edit_employee section#form_container h3 {
    width: 250px;
    margin: auto;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

div#edit_employee section#form_container div#fields {
    width: 250px;
    margin: auto;
}

div#edit_employee section#form_container form div {
    text-align: left;
}

div#edit_employee section#form_container form div#actions a {
    float: right;
    margin: 3px 8px 0px 0px;
}

div#edit_employee section#form_container form div#actions input {
    float: right;
}

/* End Admin Users Page */

/* Admin Products Page */

div#admin_product_list section#products {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

div#admin_product_list section#products table#product_list td.product_image {
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

div#admin_product_list section#products table#product_list td.product_image img {
    height: 40px;
}

div#admin_product_list section#products div#actions {
    float: right;
}

div#new_product section#form_container {
    width: 470px;
    margin: auto;
    text-align: center;
}

div#new_product section#form_container h3 {
    width: 250px;
    margin: auto;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

div#new_product section#form_container div#fields {
    width: 250px;
    margin: auto;
}

div#new_product section#form_container div.product_image img {
    height: 100px;
}

div#new_product section#form_container form div {
    text-align: left;
}

div#new_product section#form_container form div#actions a {
    float: right;
    margin: 3px 8px 0px 0px;
}

div#new_product section#form_container form div#actions input {
    float: right;
}

div#show_product section#product_info {
    margin: 20px auto 20px auto;
    width: 270px;
    text-align: left;
}

div#show_product section#product_info p.product_image img {
    height: 70px;
}

div#show_product section#product_info div#actions a {
    float: right;
    margin: 3px 8px 0px 0px;
}

div#show_product section#product_info div#actions input {
    float: right;
}

div#edit_product section#form_container {
    width: 470px;
    margin: auto;
    text-align: center;
}

div#edit_product section#form_container h3 {
    width: 250px;
    margin: auto;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

div#edit_product section#form_container div#fields {
    width: 300px;
    margin: auto;
}

div#edit_product section#form_container div.product_image p.label {
    font-weight: bold;
}

div#edit_product section#form_container div.product_image img {
    height: 100px;
}

div#edit_product section#form_container form div {
    text-align: left;
}

div#edit_product section#form_container form div#actions a {
    float: right;
    margin: 3px 8px 0px 0px;
}

div#edit_product section#form_container form div#actions input {
    float: right;
}

/* End Admin Products Page */

/* Admin Modifier Categories Page */

div#admin_modifier_categories_list section#modifier_categories {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

div#admin_modifier_categories_list section#modifier_categories div#actions {
    float: right;
}

div#new_modifier_category section#form_container {
    width: 470px;
    margin: auto;
    text-align: center;
}

div#new_modifier_category section#form_container h3 {
    width: 250px;
    margin: auto;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

div#new_modifier_category section#form_container div#fields {
    width: 250px;
    margin: auto;
}

div#new_modifier_category section#form_container form div {
    text-align: left;
}

div#new_modifier_category section#form_container form div#actions a {
    float: right;
    margin: 3px 8px 0px 0px;
}

div#new_modifier_category section#form_container form div#actions input {
    float: right;
}

div#show_modifier_category section#modifier_category_info {
    margin: 20px auto 20px auto;
    width: 340px;
    text-align: left;
}

div#show_modifier_category section#modifier_category_info div#actions {
    margin-top: 20px;
}

div#show_modifier_category section#modifier_category_info div#actions a {
    float: right;
    margin: 3px 8px 0px 0px;
}

div#show_modifier_category section#modifier_category_info div#actions input {
    float: right;
}

div#edit_modifier_category section#form_container {
    width: 470px;
    margin: auto;
    text-align: center;
}

div#edit_modifier_category section#form_container h3 {
    width: 250px;
    margin: auto;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

div#edit_modifier_category section#form_container div#fields {
    width: 250px;
    margin: auto;
}

div#edit_modifier_category section#form_container form div {
    text-align: left;
}

div#edit_modifier_category section#form_container form div#actions a {
    float: right;
    margin: 3px 8px 0px 0px;
}

div#edit_modifier_category section#form_container form div#actions input {
    float: right;
}

/* End Admin Modifier Categories Page */

/* Admin Categories Page */

div#admin_category_list section#categories {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}

div#admin_category_list section#categories div#actions {
    float: right;
}

div#new_category section#form_container {
    width: 470px;
    margin: auto;
    text-align: center;
}

div#new_category section#form_container h3 {
    width: 250px;
    margin: auto;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

div#new_category section#form_container div#fields {
    width: 250px;
    margin: auto;
}

div#new_category section#form_container form div {
    text-align: left;
}

div#new_category section#form_container form div#actions a {
    float: right;
    margin: 3px 8px 0px 0px;
}

div#new_category section#form_container form div#actions input {
    float: right;
}

div#show_category section#category_info {
    margin: 20px auto 20px auto;
    width: 270px;
    text-align: left;
}

div#show_category section#category_info div#actions a {
    float: right;
    margin: 3px 8px 0px 0px;
}

div#show_category section#category_info div#actions input {
    float: right;
}

div#edit_category section#form_container {
    width: 470px;
    margin: auto;
    text-align: center;
}

div#edit_category section#form_container h3 {
    width: 250px;
    margin: auto;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

div#edit_category section#form_container div#fields {
    width: 300px;
    margin: auto;
}

div#edit_category section#form_container form div {
    text-align: left;
}

div#edit_category section#form_container form div#actions a {
    float: right;
    margin: 3px 8px 0px 0px;
}

div#edit_category section#form_container form div#actions input {
    float: right;
}

/* End Admin Categories Page */

/* Admin Displays Page */

div#admin_display_list section#displays {
    width: 490px;
    margin-left: auto;
    margin-right: auto;
}

div#admin_display_list section#displays div#actions {
    float: right;
}

div#new_display section#form_container {
    width: 470px;
    margin: auto;
    text-align: center;
}

div#new_display section#form_container h3 {
    width: 250px;
    margin: auto;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

div#new_display section#form_container div#fields {
    width: 250px;
    margin: auto;
}

div#new_display section#form_container form div {
    text-align: left;
}

div#new_display section#form_container form div#actions a {
    float: right;
    margin: 3px 8px 0px 0px;
}

div#new_display section#form_container form div#actions input {
    float: right;
}

div#show_display section#display_info {
    margin: 20px auto 20px auto;
    width: 270px;
    text-align: left;
}

div#show_display section#display_info div#actions a {
    float: right;
    margin: 3px 8px 0px 0px;
}

div#show_display section#display_info div#actions input {
    float: right;
}

div#edit_display section#form_container {
    width: 470px;
    margin: auto;
    text-align: center;
}

div#edit_display section#form_container h3 {
    width: 250px;
    margin: auto;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

div#edit_display section#form_container div#fields {
    width: 250px;
    margin: auto;
}

div#edit_display section#form_container form div {
    text-align: left;
}

div#edit_display section#form_container form div#actions a {
    float: right;
    margin: 3px 8px 0px 0px;
}

div#edit_display section#form_container form div#actions input {
    float: right;
}

/* End Admin Displays Page */

/* Admin Rooms Page */

div#admin_room_list section#rooms {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

div#admin_room_list section#rooms div#actions {
    float: right;
}

div#new_room section#form_container {
    width: 470px;
    margin: auto;
    text-align: center;
}

div#new_room section#form_container h3 {
    width: 250px;
    margin: auto;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

div#new_room section#form_container div#fields {
    width: 250px;
    margin: auto;
}

div#new_room section#form_container form div {
    text-align: left;
}

div#new_room section#form_container form div#actions a {
    float: right;
    margin: 3px 8px 0px 0px;
}

div#new_room section#form_container form div#actions input {
    float: right;
}

/* End Admin Rooms Page */

/* Main Menu Screen */

nav#main_nav {
    font-weight: bold;
    background-color: black;
    background: -moz-linear-gradient(#737373, #000000) repeat scroll 0 0 transparent;
    text-align: left;
    padding: 4px;
    margin-bottom: 2px;
}

nav#main_nav div#business_name,
nav#main_nav div#e_name,
nav#main_nav div#terminal_id,
nav#main_nav div#clock,
nav#main_nav div#date {
    float: left;
    padding: 2px 6px;
    border-right: 1px solid #DDD;
    color: #FFF;
    min-width: 100px;
}

nav#main_nav div#clock span {
    color: #FFF;
}

nav#main_nav div#nav_save_button {
    height: 22px;
    float: right;
    cursor: pointer;
    margin-right: 10px;
    margin-top: -3px;
}

nav#main_nav div#nav_save_button img {
    height: 25px;
}

nav#main_nav div#nav_reload_button {
    height: 22px;
    float: right;
    cursor: pointer;
    margin-right: 10px;
    margin-top: -3px;
}

nav#main_nav div#nav_reload_button img {
    height: 25px;
}

nav#main_nav div#misc_notice input {
    height: 10px;
}

/* this is used on the cash screen also */
div#receipt_keypad_container {
    width: 265px;
    float: left;
    border: 1px solid #CCC;
    -moz-border-radius: 7px;
    border-radius: 7px; 
}

div#menu_screen div#menu_pages_container {
    width: 740px;
    float: right;
    border: 1px solid #CCC;
    -moz-border-radius: 7px;
    border-radius: 7px; 
}

div.global_status_message {
    float: left;
    margin: 1px 3px 0px 3px;
    padding: 2px 5px;
    background-color: #FFF;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #CCC;
    display: none;
}

div#receipt_keypad_container div#receipt {
    height: 379px;
    overflow-y: auto;
    display: block;
    background-color: #FFF;
    padding-top: 2px;
}

div#receipt_keypad_container div#top_buttons {
    background: -moz-linear-gradient(#D8D8D8, #B4B4B4) repeat scroll 0 0 transparent;
    border: 1px solid #AAA;
    padding: 2px;
    font-weight: bold;
}

div#receipt_keypad_container div#table_select_container {
    float: left;
    font-size: 13px;
    font-weight: normal;
}

div#receipt_keypad_container div#table_select_container select {
    cursor: pointer;
    border: 2px outset #AAA;
    -moz-border-radius: 4px;
    border-radius: 4px;  
    background-color: #FFF;
    color: #000;
    height: 32px;
    width: 113px;
    margin-right: 4px;
    font-size: 20px;
}

div#receipt_keypad_container div#table_screen_button {
    float: right;
    cursor: pointer;
    padding: 8px 20px;
    border: 1px solid #CCC;
    -moz-border-radius: 4px;
    radiusborder-radius: 4px;
    background-color: #FFF;
    font-weight: normal;
    background: -moz-linear-gradient(#FFF, #CCC) repeat scroll 0 0 transparent;
}

div#menu_screen div#menu_pages_container div#pages {
    padding-left: 2px;
    padding-top: 2px;
}

div#menu_screen div#menu_pages_container div#menu_items_container {
    height: 481px;
    padding-left: 2px;
    padding-top: 4px;
    background-color: #E0E0E0;
}

div#menu_screen div#menu_pages_container div#menu_buttons_popup_anchor {
    height: 0px;
}

div#menu_screen div#menu_pages_container div#menu_buttons {
    border-spacing: 3px;
    height: 159px;
    padding: 1px;
}

div#menu_screen div#menu_pages_container div#menu_buttons div#menu_buttons_loading_message {
    text-align: center;
    margin-top: 60px;
    font-weight: bold;
}

div.button {
    width: 73px;
    max-width: 73px;
    height: 73px;
    max-height: 73px;
    overflow: hidden;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    cursor: pointer;
    border: 1px solid #777;
    -moz-border-radius: 7px;
    border-radius: 7px;  
    box-shadow: 0px 1px 0px #777;
    background: -moz-linear-gradient(#E7E7E7, #C1C1C1) repeat scroll 0 0 transparent;
}

div.button div.icon img {
    max-height: 30px;
    max-width: 30px;
}

div.button div.button_name {
    padding: 0px 3px;
    font-size: 12px;
}

div.button div.button_name a {
    text-decoration: none;
    color: #333333;
}

div.button div.button_name a:hover {
    background-color: transparent;
}

div#menu_screen div#menu_pages_container div#pages {
    border-spacing: 2px;
    margin-bottom: -4px;
    background-color: #B4B4B4;
}

div#menu_screen div#menu_pages_container div#pages div.page {
    margin: 1px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 55px;
    width: 88px;
    cursor: pointer;
    border: 1px solid #AAA;
    top-lcursor: pointer;
    -moz-border-top-left-radius: 7px;
    -moz-border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: #F8F8F8;
    background: -moz-linear-gradient(#D8D8D8, #B4B4B4) repeat scroll 0 0 transparent;
}

div#menu_screen div#menu_pages_container div#pages div.selected {
    border-bottom-width: 0px;
    background-color: #E0E0E0;
    background: -moz-linear-gradient(#F8F8F8, #E0E0E0) repeat scroll 0 0 transparent;
}

div#menu_screen div#menu_pages_container div#pages div.page div.name {
    font-size: 13px;
    color: black;
    text-decoration: none;
    padding: 4px;
}

div#menu_screen div#menu_pages_container div#pages div.page div.name a:hover {
    background-color: transparent;
}

div#menu_screen div#menu_pages_container div#menu_items_container div#items {

}

div#menu_screen div#menu_pages_container div#menu_items_container div#items div.item {
    float: left;
    width: 88px;
    margin: 1px;
    height: 92px;
    border: 1px solid #AAA;
    cursor: pointer;
    -moz-border-radius: 3px;
    border-radius: 3px;  
    box-shadow: 0 1px 0 #777777;
    background-color: #FFF;
}

div#menu_screen div#menu_pages_container div#menu_items_container div#items div.item div.item_pic {
    height: 58px;
}

div#menu_screen div#menu_pages_container div#menu_items_container div#items div.item div.item_pic img {
    position: relative;
    height: 63px;
}

div#menu_screen div#menu_pages_container div#menu_items_container div#items div.item div.item_name {
    font-size: 11px;
    text-decoration: none;
    padding: 4px;
    width: -moz-fit-content;
    margin-left: auto;
    margin-right: auto;
}

/* Main Menu Screen */

/* keypad */

div.keypad {
    height: 280px;
    padding-top: 6px;
}

div.keypad div.keys {
    width: 210px;
    margin: auto;
}

div.keypad div.keys div {
    color: #333333;
    vertical-align: middle;
    text-align: center;
    float: left;
    margin: 2px;
    width: 63px;
    padding-top: 22px;
    height: 40px;
    font-size: 18px;
    border: 1px solid #777;
    cursor: pointer;
    -moz-border-radius: 5px;
    border-radius: 5px;  
    box-shadow: 0px 1px 1px 0px #777;
    background: -moz-linear-gradient(#FFF, #CCC) repeat scroll 0 0 transparent;
}

div.keypad div.keys div.pad {
    border: none;
    background-color: transparent;
}

/* End keypad */

/* Till Roll */

div#menu_screen div#receipt_keypad_container div#receipt div#till_roll {
    height: 350px;
    display: block;
    background-color: #FFF;
}

div#menu_screen div#receipt_keypad_container div#total_container {
    font-size: 14px;
    background: -moz-linear-gradient(#D8D8D8, #B4B4B4) repeat scroll 0 0 transparent;
    border: 1px solid #CCC;
    padding: 3px 2px;
    color: #000;
}

div#menu_screen div#receipt_keypad_container div#total_container div#label {
    font-weight: bold;
    width: 145px;
    text-align: left;
    float: left;
}

div#menu_screen div#receipt_keypad_container div#total_container div#total_value {
    float: left;
    width: 92px;
    text-align: right;
    font-weight: bold;
}

div.receipt div.till_roll div.data_table {
    margin: 10px 0px;
}

div.receipt div.till_roll div.data_table div.label {
    float: left;
    text-align: left;
    width: 130px;
}

div.receipt div.till_roll div.data_table div.data {
    float: left;
    text-align: right;
    width: 112px;
    font-weight: bold;
}

div.receipt div.till_roll div.order_line {
    margin: 0px 2px;
    cursor: pointer;
}

div.receipt div.till_roll div.order_line.not_synced div.name {
    font-style: italic;
    font-weight: bold;
}

div.receipt div.till_roll div.order_line.selected {
    border: 2px solid #4297D7;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div.receipt div.till_roll div.amount {
    float: left;
    text-align: left;
    width: 37px;
    margin-left: 3px;
}

div.receipt div.till_roll div.name {
    float: left;
    width: 160px;
    text-align: left;
}

div.receipt div.till_roll div.modifier_name {
    float: left;
    width: 150px;
    margin-left: 50px;
    text-align: left;
}

div.receipt div.till_roll div.modifier_price {
    float: left;
    width: 40px;
    text-align: right;
}

div.receipt div.till_roll div.total {
    float: left;
    width: 40px;
    text-align: right;
}

div.receipt div.till_roll div.discount div.header {
    float: left;
    width: 120px;
    text-align: right;
    font-style: italic;
}

div.receipt div.till_roll div.discount div.discount_amount {
    float: left;
    width: 66px;
    text-align: center;
    font-style: italic;
}

div.receipt div.till_roll div.discount div.new_price {
    float: left;
    width: 40px;
    text-align: left;
    font-style: italic;
}

div.receipt div.till_roll div.discount div.header {
    float: left;
    width: 120px;
    text-align: right;
    font-style: italic;
}

div#menu_screen div#receipt_keypad_container div#receipt div#till_roll_discount div.whole_order_discount {
    margin-left: 50px;
    text-align: left;
    margin-top: 10px;
}

div#menu_screen div#receipt_keypad_container div#receipt div#sales_tax_total div.header {
    float: left;
    width: 194px;
    text-align: right;
    font-style: italic;
}

div#menu_screen div#receipt_keypad_container div#receipt div#sales_tax_total div.amount {
    float: left;
    width: 50px;
    text-align: right;
    font-style: italic;
}

/* End Till Roll */

/* Edit Order Item Popup */

div#edit_receipt_item_popup_markup {
    display: none;
}

div#edit_receipt_item_popup_markup_container {
    width: 280px;
    height: 200px;
}

div#edit_receipt_item_popup_markup_container div#header {
    float: left;
    margin: 3px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
}

div#edit_receipt_item_popup_markup_container div#quantity_editor {
    padding-top: 20px;
}

div#edit_receipt_item_popup_markup_container div#quantity_editor div#quantity_label {
    font-weight: bold;
    float: left;
    margin: 4px 35px 1px 1px;
    font-size: 12px;
}

div#edit_receipt_item_popup_markup_container div#quantity_editor input.quantity {
    float: left;
    margin: 1px 4px 1px 1px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div#edit_receipt_item_popup_markup_container div#quantity_editor div#buttons_container {
    float: right;
    width: 120px;
}

div#edit_receipt_item_popup_markup_container div#quantity_editor div#buttons_container div#plus_button,
div#edit_receipt_item_popup_markup_container div#quantity_editor div#buttons_container div#minus_button {
    cursor: pointer;
    height: 10px;
    width: 25px;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    display: block;
    float: left;
    margin: 0px 5px;
}

div#edit_receipt_item_popup_markup_container div#price_editor {
    padding-bottom: 10px;
}

div#edit_receipt_item_popup_markup_container div#price_editor div.price_label {
    font-weight: bold;
    float: left;
    margin: 4px 4px 1px 1px;
    font-size: 12px;
}

div#edit_receipt_item_popup_markup_container div#price_editor input.price {
    float: left;
    margin: 1px 4px 1px 1px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div#edit_receipt_item_popup_markup_container div#discount_button {
    padding: 4px;
    float: right;
    cursor: pointer;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 18px;
    width: 64px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    margin: 3px;
}

div#edit_receipt_item_popup_markup_container div#delete_button {
    padding: 4px;
    float: right;
    cursor: pointer;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 18px;
    width: 43px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    margin: 3px;
}

/* End Edit Order Item Popup */

/* Discount Popup Markup */

div#discounts_popup_markup {
    display: none;
}

div#receipt_item_discount_popup_anchor {
    height: 1px;
}

div#discounts_popup_markup_container {
    width: 240px;
    height: 300px;
}

div#discounts_popup_markup_container div.header {
    margin: 3px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
}

div#discounts_popup_markup_container div.discount_buttons {
    margin: 3px 0px;
}

div#discounts_popup_markup_container div.discount_buttons div.button {
    border-radius: 5px 5px 5px 5px;
    color: #666666;
    cursor: pointer;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    margin: 3px;
    padding: 4px;
    width: 60px;
    text-align: center;
}

div#discounts_popup_markup_container div#manual_discount div.fields {
    width: 130px;
    margin: auto;
}

div#discounts_popup_markup_container div#manual_discount div.fields div.label {
    float: left;
    font-weight: bold;
    margin-right: 4px;
    margin-top: 3px;
    font-size: 12px;
}

div#discounts_popup_markup_container div#apply_discount_to {
    margin-top: 10px;
}

div#discounts_popup_markup_container div#apply_discount_to div.label {
    font-weight: bold;
    margin-right: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 12px;
}

div#discounts_popup_markup_container div.actions div#save_button {
    padding: 4px;
    padding-left: 7px;
    float: right;
    cursor: pointer;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 18px;
    width: 38px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    margin: 3px;
}

div#discounts_popup_markup_container div.actions div#cancel_button {
    padding: 4px;
    float: left;
    cursor: pointer;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 18px;
    width: 52px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    margin: 3px;
}

/* End Discount Popup Markup */

/* Service Charge Popup Markup */

div#service_charge_popup_markup {
    display: none;
}

div#service_charge_popup_markup_container {
    width: 300px;
    height: 480px;
}

div#service_charge_popup_markup_container div.percentage_buttons {
    margin: 3px 0px;
}

div#service_charge_popup_markup_container div.amount_container {
    width: 120px;
    margin: auto;
}

div#service_charge_popup_markup_container div.amount_container div.amount_label {
    font-weight: bold;
    width: 50px;
    float: left;
}

div#service_charge_popup_markup_container div.amount_container div.service_charge_popup_amount {
    font-weight: bold;
    width: 60px;
    float: left;
    background-color: #FFF;
    height: 20px;
    margin-top: -5px;
    border: 1px solid #000;
    padding: 3px;
}

div#service_charge_popup_markup_container div#percentage_buttons {
    width: 265px;
    margin: auto;
}

div#service_charge_popup_markup_container div#percentage_buttons div.button {
    border-radius: 5px 5px 5px 5px;
    color: #666666;
    cursor: pointer;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 23px;
    margin: 3px;
    padding: 8px 4px 4px 4px;
    width: 50px;
    text-align: center;
}

/* End Service Charge Popup Markup */




















/* Cashback Popup Markup */

div#cashback_popup_markup {
    display: none;
}

div#cashback_popup_markup_container {
    width: 300px;
    height: 480px;
}

div#cashback_popup_markup_container div.cashback_amount_buttons {
    margin: 3px 0px;
}

div#cashback_popup_markup_container div.amount_container {
    width: 120px;
    margin: auto;
}

div#cashback_popup_markup_container div.amount_container div.amount_label {
    font-weight: bold;
    width: 50px;
    float: left;
}

div#cashback_popup_markup_container div.amount_container div.cashback_popup_amount {
    font-weight: bold;
    width: 60px;
    float: left;
    background-color: #FFF;
    height: 20px;
    margin-top: -5px;
    border: 1px solid #000;
    padding: 3px;
}

div#cashback_popup_markup_container div#cashback_amount_buttons {
    width: 265px;
    margin: auto;
}

div#cashback_popup_markup_container div#cashback_amount_buttons div.button {
    border-radius: 5px 5px 5px 5px;
    color: #666666;
    cursor: pointer;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 23px;
    margin: 3px;
    padding: 8px 4px 4px 4px;
    width: 50px;
    text-align: center;
}

/* End Cashback Popup Markup */

/* Generic Popup Styling */

div.jquerybubblepopup table td.jquerybubblepopup-top-middle {
    border-spacing: 0px;
    line-height: 0em;
}

div.popup_container {
    color: #333333;
    background-color: #CCC;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div.popup_container div.header {
    text-align: center;
    font-weight: bold;
    padding: 5px;
    font-size: 13px;
}

div.popup_container div.action_buttons_container {
    text-align: center;
}

div.popup_container div.action_buttons {
    width: 175px;
    margin: auto;
}

div.popup_container div.action_buttons div.button {
    display: block;
    float: left;
    height: 60px;
    padding-top: 5px;
    margin: 0px 5px;
}

/* Generic Popup Styling */

/* Totals Screen */

div#total_screen div#payment_options_money_info_container {
    width: 740px;
    float: right;    
}

div#total_screen div#totals_receipt {
    height: 380px;
    background-color: white;
    overflow-y: auto;
    display: block;
    padding-left: 5px;
}

div#total_screen div#receipt_keypad_container div#totals_receipt_header {
    background: -moz-linear-gradient(#D8D8D8, #B4B4B4) repeat scroll 0 0 transparent;
    border: 1px solid #AAA;
    padding: 2px;
    font-weight: bold;
    font-size: 14px;
    height: 15px;
}

div#total_screen div#totals_receipt div#totals_till_roll {
    height: 350px;
    display: block;
    background-color: #FFF;
}

div#total_screen div#payment_options_money_info_container div#payment_options_section {
    border-spacing: 7px;
    border: 1px solid #CCC;
    -moz-border-radius: 7px;
    border-radius: 7px; 
    margin-bottom: 10px;
}

div#total_screen div#payment_options_money_info_container div#tender_section {
    border-spacing: 7px;
    margin-bottom: 10px;
    height: 490px;
}

div#total_screen div#payment_options_money_info_container div#tender_section div#take_tendered_container {
    float: left;
    width: 590px;
}

div#total_screen div#payment_options_money_info_container div#tender_section div#take_tendered_container div#tendered_popout {
    width: 350px;
    margin: auto;
    border: 1px solid #CCC;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin-top: 60px;
} 

div#total_screen div#payment_options_money_info_container div#tender_section div#take_tendered_container div#tendered_popout div.action_buttons {
    width: 170px;
    padding: 10px 20px;
    margin: auto;
}

div#total_screen div#payment_options_money_info_container div#tender_section div#take_tendered_container div#payment_method_header {
    background-color: black;
    background: -moz-linear-gradient(#737373, #000000) repeat scroll 0 0 transparent;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
    padding: 8px;
    margin-bottom: 5px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

div#total_screen div#payment_options_money_info_container div#tender_section div#take_tendered_container div#payment_method_header div#selected_payment_method_holder {
    float: left;
}

div#total_screen div#payment_options_money_info_container div#tender_section div#take_tendered_container div#payment_method_header div.label {
    float: left;
}

div#total_screen div#payment_options_money_info_container div#tender_section div#take_tendered_container div#tendered_data_tables_container div.data_table {
    text-align: left;
    margin: 5px 17px;
}

div#total_screen div#payment_options_money_info_container div#tender_section div#take_tendered_container div#tendered_data_tables_container div.data_table div.label {
    float: left;
    text-align: left;
    width: 70%;
}

div#total_screen div#payment_options_money_info_container div#tender_section div#take_tendered_container div#tendered_data_tables_container div.data_table div.data {
    float: left;
    text-align: left;
    width: 30%;
}

div#total_screen div#payment_options_money_info_container div#tender_section div#take_tendered_container div#tendered_data_tables_container div.data_table div.label.bold {
    font-weight: bold;
}

div#total_screen div#payment_options_money_info_container div#tender_section div#take_tendered_container div#tendered_data_tables_container div.data_table div.data.bold {
    font-weight: bold;
}

div#total_screen div#payment_options_money_info_container div#tender_section div#take_tendered_container div#tendered_data_tables_container div.data_table div.data div#totals_tendered_box {
    border: 1px solid #CCC;
    background-color: #FFF;
    padding: 2px;
    margin-top: -5px;
    margin-left: -3px;
}

div#total_screen div#payment_options_money_info_container div#tender_section div#take_tendered_container div#tendered_data_tables_container div.data_table div.data div#totals_tendered_box div#totals_tendered_value {
    float: left;
    
}

div#total_screen div#payment_options_money_info_container div#tender_section div#take_tendered_container div#tendered_data_tables_container div.data_table div.data div#totals_change_value {
    float: left;
}

div#total_screen div#payment_options_money_info_container div#tender_section div#money_helper_section {
    float: left;
    width: 140px;
    border: 1px solid #CCC;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

div#total_screen div#payment_options_money_info_container div#tender_section div#money_helper_section div.money {
    margin: 5px;
    margin-bottom: 7px;
    width: 130px;
    cursor: pointer;
}

div#total_screen div#payment_options_money_info_container div#tender_section div#money_helper_section div#exact_amount_button_holder {
    margin: auto;
    width: 92px;
    font-weight: bold;
}

div#total_screen div#payment_options_money_info_container div#tender_section div#money_helper_section div.money img {
    width: 120px;
}

div#total_screen div#payment_options_money_info_container div#totals_screen_misc_buttons {
    border-spacing: 7px;
    border: 1px solid #CCC;
    -moz-border-radius: 7px;
    border-radius: 7px; 
    margin-bottom: 10px;
}

/* End Totals Screen */

/* Admin Role Page */

div#admin_role_list section#roles {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

div#admin_role_list section#roles div#actions {
    float: right;
}

div#new_role section#form_container {
    width: 470px;
    margin: auto;
    text-align: center;
}

div#new_role section#form_container h3 {
    width: 250px;
    margin: auto;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

div#new_role section#form_container div#fields {
    width: 250px;
    margin: auto;
}

div#new_role section#form_container form div {
    text-align: left;
}

div#new_role section#form_container form div#actions a {
    float: right;
    margin: 3px 8px 0px 0px;
}

div#new_role section#form_container form div#actions input {
    float: right;
}

div#show_role section#role_info {
    margin: 20px auto 20px auto;
    width: 270px;
    text-align: left;
}

div#show_role section#role_info div#actions a {
    float: right;
    margin: 3px 8px 0px 0px;
}

div#show_role section#role_info div#actions input {
    float: right;
}

div#edit_role section#form_container {
    width: 470px;
    margin: auto;
    text-align: center;
}

div#edit_role section#form_container h3 {
    width: 250px;
    margin: auto;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

div#edit_role section#form_container div#fields {
    width: 250px;
    margin: auto;
}

div#edit_role section#form_container form div {
    text-align: left;
}

div#edit_role section#form_container form div#actions a {
    float: right;
    margin: 3px 8px 0px 0px;
}

div#edit_role section#form_container form div#actions input {
    float: right;
}

/* End Admin Role Page */

/* Admin Display Buttons Page */

div#admin_display_buttons section#display_buttons {
    width: 530px;
    margin-left: auto;
    margin-right: auto;
}

div#admin_display_buttons section#display_buttons h3.button_group_header {
    text-align: left;
}

div#admin_display_buttons section#display_buttons div.display_button_list_container {
    display: none;
}

div#admin_display_buttons section#display_buttons h3.button_group_header a {
    text-decoration: none;
}

div#edit_display_buttons section#display_buttons {
    width: 560px;
    margin-left: auto;
    margin-right: auto;
}

div#edit_display_buttons section#display_buttons div.container {
    display: none;
}

div#edit_display_buttons section#display_buttons h3.edit_display_buttons_header {
    float: left;
}

div#edit_display_buttons section#display_buttons h3.edit_display_buttons_header a {
    text-decoration: none;
}

div#edit_display_buttons section#display_buttons div#actions {
    float: right;
}

div#edit_display_buttons section#display_buttons div#actions input,
div#edit_display_buttons section#display_buttons div#actions div {
    float: left;
    cursor: pointer;
}

/* End Admin Display Buttons Page */

/* Global Settings Page */

div#edit_global_settings section#global_settings {
    width: 760px;
    margin: auto;
}

div#edit_global_settings section#global_settings h3.global_settings_header {
    text-align: left;
}

div#edit_global_settings section#global_settings h3.global_settings_header a {
    text-decoration: none;
}

div#edit_global_settings section#global_settings div#actions {
    float: right;
}

div#edit_global_settings section#global_settings div.container {
    display: none;
}

div#edit_global_settings section#global_settings div.container h4 {
    float: left;
}

div#edit_global_settings section#global_settings div.container div.business_logo div.label {
    font-weight: bold;
    float: left;
}

div#edit_global_settings section#global_settings div.container div.business_logo img {
    width: 100px;
}

div#edit_global_settings section#global_settings div.container#payment_methods_section div.payment_method_logo {
    float: left;
}

div#edit_global_settings section#global_settings div.container#payment_methods_section div.payment_method_logo img {
    width: 30px;
    height: 30px;
}

/* End Global Settings Page */

/* Theme Settings Page */

div#edit_theme_settings section#theme_settings {
    width: 760px;
    margin: auto;
}

div#edit_theme_settings section#theme_settings h3.theme_settings_header {
    text-align: left;
}

div#edit_theme_settings section#theme_settings h3.theme_settings_header a {
    text-decoration: none;
}

div#edit_theme_settings section#theme_settings div#actions {
    float: right;
}

div#edit_theme_settings section#theme_settings div.container {
    display: none;
}

div#edit_theme_settings section#theme_settings div#global_font_color_container {
    margin: 20px 0px;
    text-align: center;
    border: 1px solid #CCC;
    background-color: #F7F7F7;
}

div#edit_theme_settings section#theme_settings div#global_font_color_container div.header {
    text-align: left;
    font-weight: bold;
    margin: 10px 0px 20px 7px;
}

div#edit_theme_settings section#theme_settings div#global_font_color_container div#colourPicker {
    margin: auto;
    width: -moz-fit-content;
    margin-bottom: 20px;
}

div#edit_theme_settings section#theme_settings div#global_font_color_container input#global_font_color_input {
    display: none;
}

/* End Theme Settings Page */

/* Display Button Passcode Popup */

div#display_button_passcode_popup {
    width: 200px;
    height: 80px;
    padding: 10px;
}

div#display_button_passcode_popup div#header {
    width: 100%;
    font-weight: bold;
    font-size: 14px;
}

div#display_button_passcode_popup div#display_button_passcode_show {
    width: 100%;
    border: 1px solid #DDD;
    height: 20px;
    margin-top: 4px;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
}

div#display_button_passcode_popup div#display_button_submit_passcode {
    text-align: center;
    float: right;
    width: 70px;
    padding: 3px;
    border: 1px solid #DDD;
    height: 20px;
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}

div#display_button_passcode_popup div#cancel_display_button_passcode_prompt {
    text-align: center;
    float: right;
    width: 70px;
    padding: 3px;
    border: 1px solid #DDD;
    height: 20px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

/* End Display Button Passcode Popup */

/* Modifier Popup */

div.modifier_category_popup {
    padding: 10px;
}

div.modifier_category_popup div.header {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 15px;
}

div.modifier_category_popup div.modifier_choices {
    width: 250px;
    margin: auto;
}

div.modifier_category_popup div.modifier_choices div.modifier {
    margin: 3px 0px;
    border: 1px solid #CCC;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 4px;
    cursor: pointer;
}

div.modifier_category_popup div.modifier_choices div.modifier div.name {
    float: left;
    font-weight: bold;
    font-size: 14px;
    width: 50%;
    text-align: left;
    padding-left: 10px;
}

div.modifier_category_popup div.modifier_choices div.modifier div.price {
    float: left;
    font-weight: bold;
    font-size: 14px;
    width: 40%;
    text-align: right;
}

/* Modifier Popup */

/* jQuery Popup Styling */

.brwsbanner {
    position: absolute;
    z-index: 1002;
}

.liss ul {
    padding: 0px;
    margin: 0px;
    padding-left: 20px;
}

.liss li {
    padding-left: 20px;
}

.disable_masking {
    width: 400px;
    z-index: 6001;
    position: absolute;
    display: none;
    background-color: #FFF;
    border: 3px solid #AAA;
    padding: 10px;
}

.closebutton,
.myclosebutton {
    float: right;
    text-decoration: none;
}

.data {
    font-size: 12px;
    text-align: justify;
}

.viewsiurce {
    background-color: #F0F0F0;
    border: 2px dashed #000;
    padding: 20px;
    color: #006633;
    font-size: 15px;
    font-size: 12px;
}

#all {
    text-align: center;
}

#all div {
    text-align: left;
}

/* jQuery Popup Styling */

/* Options Screen */

div#options_screen {
    margin-top: 6px;
}

div#options_screen div#options_screen_menu_buttons {
    border-spacing: 7px;
    padding: 10px 15px;
    height: 720px;
}

/* End Options Screen */

/* Select Table Screen */

div#table_select_screen div#room_list {
    margin: 10px 0px;
}

div#table_select_screen div#room_list div.room_name {
    margin-right: 10px;
    float: left;
    width: 150px;
    cursor: pointer;
    padding: 2px 4px;
    border: 2px outset #AAA;
    -moz-border-radius: 4px;
    border-radius: 4px;  
    box-shadow: 1px 1px 3px #CCC;
    background: -moz-linear-gradient(#FFF, #CCC) repeat scroll 0 0 transparent;
}

div#table_select_screen div#room_list div.selected {
    background-color: #CCC;
    font-weight: bold;
}

div#table_select_screen div#room_layout {
    position: relative;
    border: 1px solid #CCC;
    width: 990px;
    margin: 20px auto auto auto;
    height: 600px;
    background: transparent url("/images/room_builder/wooden_floor_small.png") repeat left top;
}

div#table_select_screen div#room_layout div.room_object {
    position: absolute;
}

div#table_select_screen div#room_layout div.room_object img {
    cursor: pointer;
}

div#table_select_screen div#room_layout div.room_object div.label {
    border: 1px solid #CCC;
    background-color: #FFF;
    font-size: 11px;
    z-index: 3; 
}

div#table_select_screen div#room_layout div.room_object div.selected_table {
    border: 1px solid red;
    background-color: #CCC;
    font-weight: bold;
}

/* Select Table Screen */

/* pagination */

div.pagination_links {
    clear: both;
    margin-bottom: 5px;
}

div.pagination_links div.links {

}

div.pagination_links div.info {
    padding: 5px 2px;
    margin-top: 5px;
}

div.pagination_links div.links div.pagination a {
    border: 1px solid #CCC;
    margin: 2px 3px;
    text-decoration: none;
    font-weight: bold;
    background-color: #EEE;
    padding: 3px 6px;
    color: #666;
    cursor: pointer;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* pagination */

/* Random Stats */

div#sync_infos {
    margin: 30px;
    width: 450px;
    margin: auto;
}

div#sync_infos div.sync_info {
    margin: 10px;
    font-weight: bold;
}

div#sync_infos div.sync_info div.label,
div#sync_infos div.sync_info div.data {
    float: left;
    width: 200px;
    text-align: left;
}

/* Random Stats */

/* Misc Styles */

div#util_keypad_container {
    display: none;
}

div#menu_screen_default_popup_anchor, 
div#totals_screen_default_popup_anchor {
    height: 0px;
}

/* End Misc Styles */