<div class="dropdown_container">
    <div class="label">Category</div>
    <%= collection_select :category_id, :equals, Category.find(:all), :id, :name, options = {:include_blank => "Any", :selected => @current_category}, {:onchange => "loadDropDown('category')", :style=>'width:140px'} %>
    <div class="clear">&nbsp;</div>
</div>