previous_cash_totals_data_html = "";

<% @previous_floats_and_x_totals.each do |ct| %>
  previous_ct_data = new Array();
  previous_ct_data.push(new Array('Amount', '<%=ct.total%>'));
  previous_ct_data.push(new Array('Entered By', '<%=ct.employee.nickname%>'));
  previous_ct_data.push(new Array('Date', '&nbsp;<%=ct.created_at.strftime(@defaultDateFormat)%>'));

  previous_cash_totals_data_html += "<div class='data_table_header'>Previous <%= ct.total_type == CashTotal::FLOAT ? "Float" : "X Total" %></div>";
  previous_cash_totals_data_html += getCashTotalDataTable(previous_ct_data, true) + clear10HTML;
<% end %>

<% if @previous_floats_and_x_totals.empty? and !@last_z_total %>
  previous_cash_totals_data_html += "<div>No Historical Data!</div>";
<% end %>

$('#reports_left_till_roll').html(previous_cash_totals_data_html);

reportsLeftRecptScroll();