Welcome to Cluey!

<br/><br/>

<a href="<%= activate_accounts_accounts_url(:host => @host, :activation_code => @cluey_account.activation_code) %>">Click Here</a>

to activate your account.
  
<br/><br/>

regards,

the Cluey team!