Welcome to the Clueypos!

Follow the link below to activate your account.

<br/><br/>

<% if @cluey_account.activated? %>
  <a href="<%= accounts_accounts_url @cluey_account.profile %>"><%= accounts_accounts_url @cluey_account.profile %></a>
<% else %>
  <a href="<%= activate_accounts_accounts_url(:activation_code => @cluey_account.activation_code) %>">
    <%= activate_accounts_accounts_url(:activation_code => @cluey_account.activation_code) %>
  </a>
<% end %>

<br/><br/>

regards,

the PMF team!