<section id="active_employees">

  <% if @active_employees.size > 0 %>

    <% @active_employees.each do |e| %>
      <div class="employee_box" onclick="doLoginWithoutPin(<%=e.id%>);">
        <div class="avatar"><%= employee_image_thumb e, true %></div>
        <div class="nickname"><%= e.nickname %></div>
      </div>
    <% end %>
  <% end %>

</section>