<!DOCTYPE html>
<html>
  <head>
    <style type="text/css" media="all">
      body {
        font-size: 9px;
        width: 300px;
        margin: 0px;
      }

      div.clear {
        height: 1px;
        clear: both;
      }

      div.clear_top_margin_10 {
        height: 10px;
        clear: both;
      }

      div.clear_top_margin_10_bottom_border {
        height: 10px;
        clear: both;
      }

      div.the_dots {
        text-align: center;
      }

      div#order_receipt_header div.order_num {
        font-weight: bold;
        padding: 10px 0px;
        margin: auto;
        text-align: center;
      }

      div.business_info {
        text-align: center;
        font-weight: bold;
        margin: 20px 0px;
      }

      div.data_table {
        margin: 10px 0px;
      }

      div#order_receipt_header div.data_table {
        margin-bottom: 0px;
      }

      div.data_table div.label {
        float: left;
        text-align: left;
        width: 130px;
      }

      div#order_receipt_header div.data_table div.label {
        width: 70px;
      }

      div#order_receipt_header div.data_table div.data {
        text-align: left;
      }

      div.data_table div.data {
        float: left;
        text-align: right;
        width: 112px;
        font-weight: bold;
      }

      div.data_table div.label.time {
        width: 102px;
      }

      div.data_table div.data.time {
        width: 140px;
      }

      div.time {
        float: left;
        width: 130px;
      }

      div.terminal {
        float: left;
        font-weight: bold;
        width: 112px;
        text-align: right;
      }

      div.order_line {
        margin: 0px 2px;
      }

      div.order_line.not_synced div.name {
        font-style: italic;
        font-weight: bold;
      }

      div.amount {
        float: left;
        text-align: left;
        width: 37px;
        margin-left: 3px;
      }

      div.name {
        float: left;
        width: 160px;
        text-align: left;
      }

      div.modifier_name {
        float: left;
        width: 150px;
        margin-left: 50px;
        text-align: left;
      }

      div.modifier_price {
        float: left;
        width: 40px;
        text-align: right;
      }

      div.total {
        float: left;
        width: 40px;
        text-align: right;
      }

      div.discount div.header {
        float: left;
        width: 120px;
        text-align: right;
        font-style: italic;
      }

      div.discount div.discount_amount {
        float: left;
        width: 66px;
        text-align: right;
        font-style: italic;
      }

      div.discount div.new_price {
        float: left;
        width: 40px;
        text-align: left;
        font-style: italic;
      }

      div.discount div.header {
        float: left;
        width: 120px;
        text-align: right;
        font-style: italic;
      }

      div#receipt_message {
        text-align: center;
      }
    </style>    
  </head>
  <body id="print_receipt_content">
    <div id="print_receipt_wrapper">
      <div id="print_receipt" class="receipt">
        <div id="till_roll" class="till_roll"></div>
      </div>
    </div>

  </body>
</html>
