<!DOCTYPE html>
<html>
  <head>
    <style type="text/css" media="all">
      @page {
        margin: 0px;
      }
      
      body {
        font-family: verdana, sans-serif;
        font-size: 9px;
        width: 200px;
        margin: 0px;
      }
      
      body * {
        overflow: hidden;
      }

      div.clear {
        height: 1px;
        clear: both;
      }

      div.clear_top_margin_10 {
        height: 5px;
        clear: both;
      }

      div.clear_top_margin_10_bottom_border {
        height: 5px;
        clear: both;
      }

      div.the_dots {
        text-align: center;
        margin-bottom: 5px;
      }

      div#order_receipt_header div.order_num {
        font-weight: bold;
        padding: 10px 0px;
        margin: auto;
        text-align: center;
      }

      div.business_info {
        text-align: center;
        font-weight: bold;
        margin: 20px 0px;
      }

      div.data_table {
        margin: 10px 0px;
      }

      div#order_receipt_header div.data_table {
        margin-bottom: 0px;
      }

      div.data_table div.label {
        float: left;
        text-align: left;
        width: 98px;
      }

      div#order_receipt_header div.data_table div.label {
        width: 70px;
      }

      div#order_receipt_header div.data_table div.data {
        text-align: left;
      }

      div.data_table div.data {
        float: left;
        text-align: right;
        width: 101px;
        font-weight: bold;
      }

      div.data_table div.label.time {
        width: 90px;
      }

      div.data_table div.data.time {
        float: right;
        width: 108px;
      }

      div.terminal {
        float: left;
        font-weight: bold;
        width: 112px;
        text-align: right;
      }

      div.order_line {
        margin: 0px 2px;
      }

      div.order_line.not_synced div.name {
        font-style: italic;
        font-weight: bold;
      }

      div.amount {
        float: left;
        text-align: left;
        width: 35px;
        margin-left: 3px;
      }

      div.name {
        float: left;
        width: 120px;
        text-align: left;
      }
      
      div.total {
        float: left;
        width: 35px;
        text-align: right;
      }

      div.modifier_name {
        float: left;
        width: 130px;
        margin-left: 30px;
        text-align: left;
      }

      div.modifier_price {
        float: left;
        width: 40px;
        text-align: right;
      }

      div.discount div.header {
        float: left;
        width: 110px;
        text-align: right;
        font-style: italic;
      }

      div.discount div.discount_amount {
        float: left;
        width: 55px;
        text-align: right;
        font-style: italic;
      }

      div.discount div.new_price {
        float: left;
        width: 35px;
        text-align: left;
        font-style: italic;
      }

      div#receipt_message {
        text-align: center;
        margin-bottom: 5px;
      }
    </style>    
  </head>
  <body id="print_receipt_content">
    <div id="print_receipt_wrapper">
      <div id="print_receipt" class="receipt">
        <div id="till_roll" class="till_roll"></div>
      </div>
    </div>

  </body>
</html>
