<!DOCTYPE html>
<html>
  <head>
    <link href="/stylesheets/shared/receipt_for_print.css?<%= Time.now.to_i %>" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/shared/receipt_for_print.css?<%= Time.now.to_i %>" media="print" rel="stylesheet" type="text/css" />
  </head>
  <body>

    <div id="print_receipt_wrapper">
      <div id="print_receipt" class="receipt">
        <div id="till_roll" class="till_roll"></div>
      </div>
    </div>

  </body>
</html>
