<!DOCTYPE html>
<html>

  <head>
    <%= render "/partials/interfaces/medium_screen/assets" %>
    <%= render "/partials/interfaces/large_screen/assets" %>
  </head>
  
  <body>
    <h1>Assets!</h1>
  </body>
</html>
