function revealOptionalSalesScreenButtons() {
//show the ones we have access to and remove the others
<% @dbrs.each do |dbr| %>
  $('#sales_button_<%=dbr.display_button.id%>').<%= dbr.show_on_admin_screen && dbr.show_on_sales_screen ? "show();" : "hide();" %>
<% end %>

setTimeout("insertButtonBreaks()", 10);
}

function insertButtonBreaks() {
$('#menu_buttons_panel .button:visible').each(function(index) {
if(index != 0 && index%6==0) {
$('<div class="clear">&nbsp;</div>').insertAfter($(this));
}
});
}