<form style="display: none;" method="post" action="/clear_all_fragment_caches" id="clear_all_fragment_caches_request_form"></form>

<div id="clear_all_fragment_caches_request_button" class="button" onclick="$('#clear_all_fragment_caches_request_form').submit();">
  <div class="button_name">Clear Caches</div>
</div>