<div class="button" data-onpress="goTo('<%=home_path%>#screen=menu');">
  <div class="icon">
    <%= image_tag "/images/button_logos/manage_sales_screen_button.png" %>
  </div>
  <div class="button_name">Sales Screen</div>
</div>

<div class="button" data-onpress="adminShowMoreOptions();">
  <div class="icon">
    <%= image_tag "/images/button_logos/more_options_button.png" %>
  </div>
  <div class="button_name">Functions</div>
</div>

<%= render :partial => "/partials/interfaces/large_screen/terminal_reload_request" %>