<div class="button" data-onpress="adminCancelClicked()">
  <div class="icon">
    <%= image_tag "/images/button_logos/cancel_button.png" %>
  </div>
  <div class="button_name">Cancel</div>
</div>

<div class="button" data-onpress="adminOkClicked()">
  <div class="icon">
    <%= image_tag "/images/button_logos/ok_button.png" %>
  </div>
  <div class="button_name">Ok</div>
</div>