<div id="request_terminal_reload_button" class="button" data-onpress="requestReload(<%= GlobalSetting::SYSTEM_WIDE_UPDATE_HARD %>);">
  <div class="icon">
    <%= image_tag "/images/button_logos/reload_request_button.png" %>
  </div>
  <div class="button_name">Reload Request</div>
</div>