<div id="menu_item_container_<%=item.id%>"  class="item_container">
  <div class="item" id="menu_item_<%=item.id%>">
    <%= render :partial => "builder_menu_item", :locals => {:item => item} %>
  </div>
</div>