/* 
    Document   : style
    Created on : 17-Aug-2012, 11:16:17
    Author     : lee
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

