<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => "/partials/interfaces/large_screen/common_head" %>
  </head>
  <body>

    <div id="wrapper" class="wrapper large_interface">
      <div id="body">
        <div id="content_container">
          <%= render :partial => "/partials/interfaces/large_screen/nav" %>

          <%= yield %>
        </div>
      </div>

    </div>

    <%= render :partial => "/partials/interfaces/large_screen/common_footer" %>

  </body>
</html>
