<!DOCTYPE html>
<html <%= development_mode? ? "" : raw("manifest='cache_manifest'") %>>
  <head>
    <%= render :partial => "/partials/interfaces/medium_screen/common_head" %>

  </head>
  <body>

    <div id="wrapper" class="wrapper menu medium_interface">
      <div id="body">
        <div id="content_container">
          <%= yield %>
        </div>
      </div>
    </div>
    
    <%= render :partial => "/partials/interfaces/medium_screen/common_footer" %>

  </body>
</html>
