/*
Document : medium screen style
Created on : 28-Mar-2011, 22:19:16
Author : Lee
Description:
Main stylesheet.
*/

/* Global Styles */
body {
    width: 480px;
    height: 798px;
    overflow: hidden;

    margin: 0px;
    padding: 0px;
    color: #333333;
    font-family: verdana, sans-serif;
    font-size: 19px;
    line-height: 12px;
    background-color: #E0E0E0;

    /* disable text selection */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    
    
}

input[type=radio], input[type=checkbox], input[type=button], select {
    cursor: pointer;
}

a:hover {
    background-color: transparent;
    color: #333;
}

input[type=checkbox],
input[type=radio],
input[type=submit] {
    cursor: pointer;
}

input, select {
    border: 2px solid #B4B4B4;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

input.focus, select.focus {
    border: 2px solid #E36C0A;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

div.clear {
    height: 1px;
    clear: both;
}

div.clear_spacer {
    height: 23px;
    clear: both;
    width: 100%;
    background-color: #CCC;
    background: -moz-linear-gradient(#D8D8D8, #B4B4B4) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#D8D8D8), to(#B4B4B4));
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

div.clear_top_margin_5 {
    height: 5px;
    clear: both;
}

div.clear_top_margin_10 {
    height: 10px;
    clear: both;
}

div.clear_top_margin_20 {
    height: 20px;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

input[type="submit"] {
    cursor: pointer;
}

div#wrapper {
    margin: auto;
    text-align: center;
}

div.wrapper div {
    text-align: center;
}

div.wrapper div td {
    text-align: left;
}

div.screen_header {
    height: 50px;
    background: -moz-linear-gradient(#558ED5, #17365D) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#558ED5), to(#17365D));
    text-align: center;
    padding: 15px 10px;
    font-weight: bold;
    font-size: 28px;
    color: #FFF;
}

div.screen_header_receipt {
    height: 95px;
    background: -moz-linear-gradient(#558ED5, #17365D) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#558ED5), to(#17365D));
    text-align: center;
    padding: 2px 10px;
    font-weight: bold;
    font-size: 28px;
    color: #FFF;
}

div.screen_header div.header_label {
    margin-top: 18px
}

div.screen_header div.small_button {
    margin-top: -5px;
    font-weight: normal;
}

div.screen_header div.header_label {
    color: #FFF;
    margin-top: 17px;
}

div#loading_orders_spinner {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #FFF;
    margin-left: 10px;
    width: 20px;
    min-width: 20px;
    padding: 6px;
    -moz-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

div#loading_orders_spinner img {
    height: 16px;
}

/* For page swiping */

#content-scroll {
    width: 480px;
    height: 793px;
    overflow: hidden;
    margin: auto;
}

#content-holder {
    height: 480px;
}

.content-item {
    width: 480px;
    height: 798px;
    float: left;
}

/* For page swiping */

/* Menu Screen */

div#menu_screen div#receipt_buttons_container div#receipt_container {
    border: 1px solid #000;
    float: left;
    width: 258px;
}

div#menu_screen div#receipt_buttons_container div#receipt_container div#menu_screen_receipt {
    height: 188px;
    background-color: #FFF;
    overflow-y: auto;
    display: block;
    padding-top: 3px;
    padding-left: 1px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

div#menu_screen div#receipt_buttons_container div#receipt_container div#menu_screen_receipt div#menu_screen_till_roll {
    padding-top: 4px;
    height: 157px;
    display: block;
    background-color: #FFF;
}

div#menu_screen div#receipt_buttons_container div#buttons_container {
    width: 220px;
    float: left;
    border-spacing: 3px 1px;
}

div#menu_screen div#receipt_buttons_container div#buttons_container div.button {
    white-space: nowrap;
}

div#menu_screen div#receipt_buttons_container div#cluey_logo {
    width: 64px;
    float: left;
    margin-top: 55px;
    margin-left: 80px;
    display: none;
}

div#menu_screen div#receipt_buttons_container div#cluey_logo img {
    width: 64px;
}

div#menu_screen div#menu_container {
    position: relative;
}

div#menu_screen div#menu_container div#menu_pages_container {
    float: left;
    width: 120px;
    border-spacing: 1px;
    height: 500px;
    overflow: hidden;
}

div#menu_screen div#menu_container div#menu_pages_scroller {
    padding-top: 15px;
    height: 481px;

}

div#menu_screen div#menu_container div#menu_pages_container div.page {
    width: 110px;
    height: 57px;
    display: table-cell;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    border: 1px solid #777;
    -moz-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0px 1px 0px #777;
    background: -moz-linear-gradient(#E7E7E7, #C1C1C1) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#E7E7E7), to(#C1C1C1));
    line-height: 17px;
}

div#menu_screen div#menu_container div#menu_pages_container div.page div.name {
    font-size: 20px;
}

div#menu_screen div#menu_container div#menu_pages_container div.page.selected {
    background: -moz-linear-gradient(#C1C1C1, #101010) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#C1C1C1), to(#101010));
}

div#menu_screen div#menu_container div#menu_pages_container div.page.selected div.name {
    color: #FFF;
}

div#menu_screen div#menu_container div#menu_items_container {
    float: left;
    width: 360px;
    height: 530px;
    overflow: hidden;
    border-spacing: 3px 1px;
}

div#menu_screen div#menu_container div#menu_items_scroller {
    padding-top: 5px;

}

div#menu_screen div#menu_container div#menu_items_container div.item {
    position: relative;
    float: left;
    width: 116px;
    margin: 1px;
    height: 96px;
    border: 1px solid #777;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 1px 0 #777777;
    cursor: pointer;
    background: #FFF;
}

div#menu_screen div#menu_container div#menu_items_container div.item.inactive {
    text-decoration: line-through;
}

div#menu_screen div#menu_container div#menu_items_container div.item_name {
    padding: 1px;
    overflow: hidden;
    line-height: 19px;
    position: absolute;
    bottom: 1px;
    background-color: #FFF;
    width: 114px;
}

div#menu_screen div#menu_container div#menu_items_container div.item_pic {
    height: 50px;
    margin-top: 5px;
}

div#menu_screen div#menu_container div#menu_items_container div.item_pic img {
    height: 50px;
    max-height: 50px;
    max-width: 110px;
    margin-top: 1px;
}

div#menu_screen div#menu_container div#menu_items_container div.subpages div.subpage {
    position: relative;
    float: left;
    width: 116px;
    margin: 1px;
    height: 96px;
    border: 1px solid #777;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 1px 0 #777777;
    cursor: pointer;
    background: -moz-linear-gradient(#E7E7E7, #C1C1C1) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#E7E7E7), to(#C1C1C1));
}

div#menu_screen div#menu_container div#menu_items_container div.subpages div.subpage div.name {
    background-color: transparent;
}

div#menu_screen div#menu_container div#menu_items_container div.name {
    padding: 1px;
    overflow: hidden;
    line-height: 19px;
    position: absolute;
    top: 20px;
    background-color: #FFF;
    width: 114px;
}

div#menu_screen div#menu_container div#bottom_functions {
    display: inline-block;
    border-spacing: 10px 1px;
    background-color: #333;
    margin:  0.0.0.0;
    height: 75px;
    width: 480px;
}

div#bottom_functions div.button {
    height: 60px;
    max-height: 60px;
    width: 100px;
    max-width: 100px;
    font-size: 20px;
    margin-top: 10px;
}

div#menu_screen div#menu_container div#bottom_functions div.button {
    margin: 1px 5px;
}

div#menu_screen div#menu_container div#menu_keypad {
    display: none;
    height: 550px;
    width: 480px;
    background-color: #E0E0E0;
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    z-index: 50;
}

div#menu_screen div#menu_container div#menu_keypad div#menu_keypad_header {
    height: 70px;
    background: -moz-linear-gradient(#558ED5, #17365D) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#558ED5), to(#17365D));
}

div#menu_screen div#menu_container div#menu_keypad div#menu_keypad_header div#close_button {
    cursor: pointer;
    float: right;
    padding: 5px;
}

div#menu_screen div#menu_container div#menu_keypad div#menu_keypad_header div#close_button img {
    height: 60px;
}

div#menu_screen div#oia_subscreen {
    display: none;
    height: 603px;
}

div#menu_screen div#oia_subscreen div#oia_tabs_container {
    height: 500px;
    overflow: hidden;
    float: left;
    width: 120px;
}

div#menu_screen div#oia_subscreen div#oia_tabs {

}

div#menu_screen div#oia_subscreen div#oia_tabs div.tabs {
    background-color: transparent;
}

div#menu_screen div#oia_subscreen div#oia_tabs div.tabs div.tab {
    width: 110px;
    height: 57px;
    display: table-cell;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    border: 1px solid #777;
    -moz-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0px 1px 0px #777;
    background: -moz-linear-gradient(#E7E7E7, #C1C1C1) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#E7E7E7), to(#C1C1C1));
    line-height: 17px;
}

div#menu_screen div#oia_subscreen div#oia_tabs div.tabs div.tab.selected {
    background: -moz-linear-gradient(#C1C1C1, #101010) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#C1C1C1), to(#101010));
}

div#menu_screen div#oia_subscreen div#oia_tabs div.tabs div.tab div.label {
    font-size: 20px;
    margin-left: 0px;
    margin-top: 0px;
    float: none;
}

div#menu_screen div#oia_subscreen div#oia_tabs div.tabs div.tab.selected div.label {
    color: #FFF;
}

div#menu_screen div#oia_subscreen div#order_item_additions {
    float: left;
    width: 360px;
}

div#menu_screen div#oia_subscreen div#order_item_additions div.oia_container {
    display: none;
}

div#menu_screen div#oia_subscreen div#order_item_additions div.grid_row {

}

div#menu_screen div#oia_subscreen div#order_item_additions div.grid_row div.grid_item {
    font-size: 18px;
    margin: 0px 1px;
    float: left;
    background-color: #FFF;
    border: 1px solid #555;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

div#menu_screen div#oia_subscreen div#order_item_additions div.grid_row div.grid_item div.grid_graphic {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 100;
}

div#menu_screen div#oia_subscreen div#order_item_additions div.grid_row div.grid_item img {
    max-height: 20px;
    max-width: 20px;
}

div#menu_screen div#oia_subscreen div#order_item_additions div.grid_row div.grid_item.not_available>div {
    text-decoration: line-through;
}

div#menu_screen div#oia_subscreen div#order_item_additions div.grid_row div.grid_item div.name {
    margin: 30px 0px 5px 0px;
    line-height: 100%;
}

div#menu_screen div#oia_subscreen div#order_item_additions div.grid_row div.grid_item div.charge {
    bottom: 4px;
    width: 100%;
    position: absolute;
}

div#menu_screen div#oia_subscreen div#order_item_additions div.grid_row div.grid_item.empty {
    cursor: auto;
}

div#menu_screen div#table_screen {
    display: none;
    height: 603px;
}

div#menu_screen div#table_screen div#header {
    text-align: center;
    padding: 8px;
    height: 60px;
    background: -moz-linear-gradient(#558ED5, #17365D) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#558ED5), to(#17365D));
}

div#menu_screen div#table_screen div#header div#back_button {
    float: left;
}

div#menu_screen div#table_screen div#header div#options_button {
    float: right;
}

div#menu_screen div#table_screen div#header div.title {
    float: left;
    margin-left: 32px;
    margin-top: 22px;
    font-size: 24px;
    color: #FFF;
    font-weight: bold;
}

div#menu_screen div#table_screen div#table_number_show {
    margin: 5px auto;
    border: 1px solid #DDD;
    width: 430px;
    height: 28px;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0px 5px 0px;
    border: 1px solid #CCC;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0px 1px 1px 0px #777;
    background-color: #FFF;
    text-align: center;
}

div#menu_screen div#table_screen div#keypad_container {
    height: 554px;
    background-color: #E0E0E0;
}

div#menu_screen div#table_screen div#keypad_container div.keypad {

}

/* End Menu Screen */

/* Menu Screen Receipt */

div.receipt {
    line-height: 19px;
    font-size: 23px;
}

div.receipt div.till_roll div.order_line {
    margin: 0px 2px;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
}

div.receipt div.till_roll div.order_line.course {
    border-bottom: 2px solid #4297D7;
}

div.receipt div.till_roll div.order_line.not_synced div.name {
    font-style: italic;
    font-weight: bold;

}

div.receipt div.till_roll div.order_line.selected {
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #4297D7;
}

div.receipt div.till_roll div.server {
    font-size: 16px;
    font-style: italic;
    margin-top: 4px;
    text-align: left;
    margin-left: 5px;
}

div.receipt div.till_roll div.amount {
    float: left;
    text-align: left;
    width: 29px;
    margin-left: 3px;
}

div.receipt div.till_roll div.name {
    float: left;
    width: 190px;
    text-align: left;
}

div.receipt div.till_roll div.modifier_name {
    float: left;
    width: 150px;
    margin-left: 50px;
    text-align: left;
}

div.receipt div.till_roll div.modifier_price {
    float: left;
    width: 30px;
    text-align: right;
}

div.receipt div.till_roll div.oia_add {
    float: left;
    width: 70px;
    text-align: right;
    font-size: 19px;
}

div.receipt div.till_roll div.oia_name {
    float: left;
    width: 150px;
    margin-left: 10px;
    text-align: left;
    font-size: 19px;
}

div.receipt div.till_roll div.oia_name.note {
    font-style: italic;
    width: 190px;
    font-size: 19px;
    font-size: 19px;
}

div.receipt div.till_roll div.oia_price {
    float: left;
    width: 60px;
    text-align: right;
    font-size: 19px;
    overflow: hidden;
}

div.receipt div.till_roll div.total {
    float: right;
    width: 60px;
    text-align: right;
    overflow: hidden;
}

div.receipt div.till_roll div.discount div.header {
    float: left;
    width: 120px;
    text-align: right;
    font-style: italic;
}

div.receipt div.till_roll div.discount div.discount_amount {
    float: left;
    width: 170px;
    text-align: center;
    font-style: italic;
}

div.receipt div.till_roll div.discount div.new_price {
    float: left;
    width: 40px;
    text-align: left;
    font-style: italic;
}

div.receipt div.till_roll div.discount div.header {
    float: none;
    width: 120px;
    text-align: right;
    font-style: italic;
}

div.receipt div.till_roll_small div.order_line {
    margin: 0px 2px;
    cursor: pointer;
}

div.receipt div.till_roll_small div.order_line.course {
    border-bottom: 2px solid #4F81BD;
}

div.receipt div.till_roll_small div.order_line.not_synced div.name {
    font-style: italic;
    font-weight: bold;
}

div.receipt div.till_roll_small div.order_line.selected {
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #E36C0A;
}

div.receipt div.till_roll_small div.server {
    font-size: 16px;
    font-style: italic;
    margin-top: 4px;
    text-align: left;
    margin-left: 5px;
}

div.receipt div.till_roll_small div.amount {
    float: left;
    text-align: left;
    width: 29px;
    margin-left: 3px;
}

div.receipt div.till_roll_small div.name {
    float: left;
    width: 190px;
    text-align: left;
}

div.receipt div.till_roll_small div.modifier_name {
    float: left;
    width: 150px;
    margin-left: 50px;
    text-align: left;
}

div.receipt div.till_roll_small div.modifier_price {
    float: left;
    width: 30px;
    text-align: right;
}

div.receipt div.till_roll_small div.oia_add {
    float: left;
    width: 70px;
    text-align: right;
    font-size: 19px;
}

div.receipt div.till_roll_small div.oia_name {
    float: left;
    width: 150px;
    margin-left: 10px;
    text-align: left;
    font-size: 19px;
}

div.receipt div.till_roll_small div.oia_name.note {
    font-style: italic;
    width: 190px;
    font-size: 19px;
    font-size: 19px;
}

div.receipt div.till_roll_small div.oia_price {
    float: left;
    width: 60px;
    text-align: right;
    font-size: 19px;
    overflow: hidden;
}

div.receipt div.till_roll_small div.total {
    float: left;
    width: 0px;
    text-align: right;
    overflow: hidden;
}

div.receipt div.till_roll_small div.discount div.header {
    float: left;
    width: 120px;
    text-align: right;
    font-style: italic;
}

div.receipt div.till_roll_small div.discount div.discount_amount {
    float: left;
    width: 170px;
    text-align: center;
    font-style: italic;
}

div.receipt div.till_roll_small div.discount div.new_price {
    float: left;
    width: 40px;
    text-align: left;
    font-style: italic;
}

div.receipt div.till_roll_small div.discount div.header {
    float: none;
    width: 120px;
    text-align: right;
    font-style: italic;
}

/* End Menu Screen Receipt */

/* Receipt Screen */

div#receipt_screen {
    height: 790px;
}

div#receipt_screen div#header {

}

div#receipt_screen div#header div#back_button {
    float: right;
    color: #333;
}

div#receipt_screen div#header div.back_button {
    float: right;
    color: #333;
}

div#receipt_screen div#header div#table_name {
    margin-left: 10px;
    margin-top: 20px;
    font-weight: bold;
    color: #FFF;
}

div#receipt_screen div#function_buttons {
    border-spacing: 14px 3px;
    background-color: #333;
    height: 70px;
}

div#receipt_screen div#function_buttons div.button {
    height: 55px;
    max-height: 55px;
    width: 100px;
    max-width: 100px;
}

div#receipt_screen div#large_receipt_container {
    width: 470px;
    border: 1px solid #777;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: auto;
}

div#receipt_screen div#large_receipt_container div#large_menu_screen_receipt {
    height: 600px;
    background-color: #FFF;
    overflow-y: auto;
    display: block;
    padding-top: 3px;
    padding-left: 1px;
}

div#receipt_screen div#large_receipt_container div#large_menu_screen_receipt div#large_menu_screen_till_roll {
    padding-top: 4px;
    height: 590px;
    display: block;
    background-color: #FFF;
}

div#receipt_screen div#cash_screen_sub_total_value {
    float: right;
    width: 100px;
    text-align: right;
    font-weight: bold;
    font-size: 22px;
    color: black;
    margin-right: 30px;
}

div#receipt_screen div#large_receipt_container div#large_menu_screen_receipt div#large_menu_screen_till_roll div#label {
    font-weight: bold;
    width: 145px;
    text-align: left;
    float: left;
    color: #FFF;
}

/*div#receipt_screen div#total_container {*/
    /*font-size: 16px;*/
    /*background-color: #333;*/
    /*border: 1px solid #333;*/
    /*padding: 3px 5px;*/
/*}*/


/*div#receipt_screen div#total_container div#cash_screen_sub_total_value {*/
    /*float: right;*/
    /*width: 42px;*/
    /*text-align: right;*/
    /*font-weight: bold;*/
    /*color: #FFF;*/
/*}*/

/* End Receipt Screen */

/* Functions Screen */

div#functions_screen {

}

div#functions_screen div#header {

}

div#functions_screen div#header div#back_button {
    float: left;
    color: #000;
}

div#functions_screen div#header div.header_label {
    float: left;
    margin-left: 60px;
    margin-top: 10px;
}

div#functions_screen div#top_section {
    background: -moz-linear-gradient(#E7E7E7, #C1C1C1) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#E7E7E7), to(#C1C1C1));
}

div#functions_screen div#welcome_message {
    padding: 15px 0px 0px 15px;
    text-align: left;
}

div#functions_screen div#top_section div#menu_switcher_container {
    padding: 7px 0px 10px 0px;
    margin: auto;
    width: 280px;
}

div#functions_screen div#top_section div#menu_switcher_container div.label {
    margin: 13px 10px 0px 0px;
    float: left;
}

div#functions_screen div#top_section div#menu_switcher_container div#menu_select_container {
    float: left;
    font-size: 30px;
}

div#functions_screen div#functions_buttons_container {
    border-spacing: 6px;
    padding: 5px;
}

div#functions_screen div#functions_buttons_container div.button {
    min-height: 115px;
    height: 115px;
    max-height: 115px;
}

/* End Functions Screen */

/* Settings Screen */

div#settings_screen {

}

div#settings_screen div#header {

}

div#settings_screen div#header div#back_button {
    float: left;
    width: 125px;
    max-width: 125px;
}

div#settings_screen div#header div.header_label {
    float: left;
    margin-left: 50px;
}

div#settings_screen div#submit_button {
    float: right;
    margin-right: 10px;
    width: 112px;
    max-width: 112px;
    height: 35px;
    max-height: 35px;
    padding-top: 21px;
}

div#settings_screen div#settings_container {
    padding: 0px 10px;
}

div#settings_screen div#settings_container form table td.data input {
    width: 205px;
}

div#settings_screen div#settings_container div#update_app_link {
    width: 200px;
    max-width: 200px;
    height: 45px;
    max-height: 45px;
}

/* End Settings Screen */

/* Generic Styles */

div.button {
    width: 108px;
    max-width: 108px;
    height: 87px;
    max-height: 87px;
    overflow: hidden;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    cursor: pointer;
    color: black;
    border: 1px solid #777;
    -moz-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0px 1px 0px #777;
    background: -moz-linear-gradient(#E7E7E7, #C1C1C1) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#E7E7E7), to(#C1C1C1));
}

div.top_menu_button {
    width: 90px;
    max-width: 90px;
    height: 55px;
    max-height: 55px;
    overflow: hidden;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    cursor: pointer;
    color: black;
    border: 1px solid #777;
    -moz-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0px 1px 0px #777;
    background: -moz-linear-gradient(#E7E7E7, #C1C1C1) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#E7E7E7), to(#C1C1C1));
}

div.button.selected {
    background: -moz-linear-gradient(#C1C1C1, #101010) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#C1C1C1), to(#101010));
    color: #FFF;
}

div #menuCourseAnchor{

}

div #menuCourseAnchor.selected{
    background: -moz-linear-gradient(#C1C1C1, #101010) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#C1C1C1), to(#101010));
    color: #FFF;
}

div.button div.icon {
    min-height: 50px;
    padding-top: 5px;
}

div.top_menu_button div.icon {
    min-height: 35px;
    padding-top: 3px;
}

div.button div.icon img {
    max-height: 50px;
    max-width: 50px;
}

div.top_menu_button div.icon img {
    max-height: 35px;
    max-width: 35px;
}

div.button div.button_name {
    padding: 0px 3px;
    font-size: 16px;
}

div.top_menu_button div.button_name {
    padding: 0px 2px;
    font-size: 14px;
}

div.button div.button_name {
    padding: 7px 1px;
    font-size: 21px;
    line-height: 23px;
    text-decoration: none;
    color: #333;
    width: 102px;
    overflow: hidden;
}

div.button.selected div.button_name {
    color: #FFFFFF;
}

div.button div.button_name a:hover {
    background-color: transparent;
}

div.small_button {
    font-size: 23px;
    width: 115px;
    max-width: 115px;
    padding-top: 22px;
    height: 35px;
    max-height: 35px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #777;
    -moz-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0px 1px 0px #777;
    background: -moz-linear-gradient(#E7E7E7, #C1C1C1) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#E7E7E7), to(#C1C1C1));
}

div.tabs {
    background-color: #B4B4B4;
    border-spacing: 2px;
    margin-bottom: -4px;
}

div.tabs div.tab {
    background: -moz-linear-gradient(#D8D8D8, #B4B4B4) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#D8D8D8), to(#B4B4B4));
    border: 1px solid #AAAAAA;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    cursor: pointer;
    display: table-cell;
    height: 55px;
    margin: 1px;
    text-align: center;
    vertical-align: middle;
    width: 88px;
}

div.tabs div.tab.selected {
    background: -moz-linear-gradient(#F8F8F8, #E0E0E0) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#E0E0E0));
    border-bottom-width: 0;
}

div.tabs div.tab img {
    float: left;
    margin-left: 6px;
}

div.tabs div.tab div.label {
    float: left;
    margin-left: 9px;
    margin-top: 9px;
}

div.text_only_tabs {
    background-color: #B4B4B4;
    border-spacing: 2px;
    margin-bottom: -4px;
}

div.text_only_tabs div.text_only_tab {
    background: -moz-linear-gradient(#D8D8D8, #B4B4B4) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#D8D8D8), to(#B4B4B4));
    border: 1px solid #AAAAAA;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    cursor: pointer;
    display: table-cell;
    height: 55px;
    margin: 1px;
    text-align: center;
    vertical-align: middle;
    width: 88px;
}

div.text_only_tabs div.text_only_tab.selected {
    background: -moz-linear-gradient(#F8F8F8, #E0E0E0) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#E0E0E0));
    border-bottom-width: 0;
}

div.text_only_tabs div.text_only_tab div.label {
    color: black;
    font-size: 13px;
    padding: 4px;
    text-decoration: none;
}

div.keypad {
    height: 440px;
}

div.keypad div.keys {
    width: 470px;
    margin: auto;
}

div.keypad div.keys div {
    color: #333333;
    vertical-align: middle;
    text-align: center;
    float: left;
    margin: 2px;
    width: 150px;
    padding-top: 47px;
    height: 57px;
    font-size: 30px;
    border: 1px solid #777;
    cursor: pointer;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 0px #777;
    background: -moz-linear-gradient(#FFF, #CCC) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));
}

div#nice_alert {
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
    line-height: 32px;
    color: #000;
}

input#niceAlertContainer_okButton,
input#niceAlertContainer_yesButton,
input#niceAlertContainer_noButton {
    font-size: 28px;
    font-weight: bold;
    width: 260px;
    height: 70px;
    background: -moz-linear-gradient(#FFF, #CCC) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 0px #777;
}

input#niceAlertContainer_yesButton,
input#niceAlertContainer_noButton {
    float: left;
    width: 185px;
    max-width: 185px;
}

div#menu_screen div#menu_container div#menu_items_container div.items div.item.pressed,
div#menu_screen div#menu_container div#menu_pages_container div.page.pressed,
div.button.pressed,
#wrapper div.button.pressed,
div.small_button.pressed,
#wrapper div.small_button.pressed,
#wrapper input[type="submit"].pressed,
#wrapper div.key.pressed,
#wrapper div.go_key.pressed,
#wrapper div.cancel_key.pressed {
    border: 1px solid #E36C0A; 
    background: #eee;
    -moz-opacity: 90;
    filter:alpha(opacity: .90);
    opacity: .90;    
}

div#menu_screen div#menu_container div#menu_items_container div.items div.item.pressed *,
div#menu_screen div#menu_container div#menu_pages_container div.page.pressed *,
div.button.pressed *,
#wrapper div.button.pressed *,
div.small_button.pressed *,
#wrapper div.small_button.pressed *,
#wrapper input[type="submit"].pressed,
#wrapper div.key.pressed *,
#wrapper div.go_key.pressed *,
#wrapper div.cancel_key.pressed * {
    background: #eee;
    -moz-opacity: 90;
    filter:alpha(opacity: .90);
    opacity: .90;     
}

div#menu_screen div#menu_container div#menu_items_container div.items div.item.pressed img {
    -moz-opacity: 30;
    filter:alpha(opacity: .30);
    opacity: .30;
}

.text_align_left {
    text-align: left;
}

ul.mcdropdown_menu {
    font-size: 23px;
}

div.mcdropdown div {
    font-size: 20px;
}

div#receipt_function_popup_content{
    display: none;
    height: 300px;
    width: 200px
}

div#quantity_function_popup_content{
    display: none;
    width: 350px
}

div#discount_function_popup_content{
    display: none;
    width: 350px
}

div#price_function_popup_content{
    display: none;
    width: 350px
}

div#course_function_popup_content{
    display: none;
    width: 350px;
    height: auto;
}

div#course_popup_markup_container {
    width: 200px;
    height: auto;
}

div#course_popup_markup_container div.header {
    text-align: left;
    font-size: 22px;
    height: 15px;
    padding: 10px;
}

div#course_popup_markup_container div.course_label {
    background-color: #FFF;
    font-size: 11px;
    font-weight: bold;
    padding: 20px;

    cursor: pointer;
    color: black;
    font-size: 18px;
}

div#course_popup_markup_container div.course_label.selected {
    background-color: red;
}


div#quantity_editor {
    width: 280px;
    margin-left: 15px
}

div#quantity_editor div.header {
    font-size: 18px;
    font-weight: bold;
    margin: 4px 4px 1px 6px;
    color: black;
}

div#quantity_editor div#quantity_label {
    font-weight: bold;
    float: left;
    font-size: 14px;
}

div#quantity_editor input.quantity {
    float: left;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 55px;
    height: 40px;
    margin-top: 2px;
}

div#quantity_editor div#buttons_container {
    float: left;
    margin-left: 4px;

}

div#quantity_editor div#buttons_container div#plus_button,
div#quantity_editor div#buttons_container div#minus_button {
    border-radius: 5px 5px 5px 5px;
    color: #333;
    cursor: pointer;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    margin: 3px;
    padding: 4px;
    width: 80px;
    max-width: 80px;
    text-align: center;
}

div#price_editor
{   padding-bottom: 10px;
    width: 280px;
    padding-top: 12px;
}

div#course_editor
{   padding-bottom: 10px;
    width: 350px;
    padding-top: 12px;
}

div#price_editor div.price_label {
    font-weight: bold;
    float: left;
    margin: 4px 4px 1px 6px;
    font-size: 14px;
}

div#price_editor input.new_price {
    float: left;
    margin-left: 70px;
    /*margin: -5px 0px 1px 30px;*/
    height: 35px;
    width: 120px;
    font-size: 18px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div#course_editor div.course_label {
    font-weight: bold;
    float: left;
    margin: 4px 4px 1px 6px;
    font-size: 14px;
}

div#course_editor input.course_num {
    float: left;
    align: center;
    /*margin: -5px 0px 1px 30px;*/
    height: 45px;
    width: 120px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 18px;
}


div.action_buttons {
    border-spacing: 7px;
    width: 250px;
    margin: auto;
    margin-left: 15px;
}

div.action_buttons div.button {
    display: block;
    float: left;
    height: 60px;
    padding-top: 3px;
    margin: 0px 2px;
}


div#function_popup_buttons {
    margin-left: 5px;
}

div#function_popup_buttons div.button {
    height: 40px;
    max-height: 40px;
    width: 280px;
    max-width: 280px;
    font-weight: bold;
    font-size: 18px

}


div.discount_buttons {
    width: 280px;
    margin-left: 15px;

}

div.popup_container div.action_buttons_container {
    text-align: center;
}

div.popup_container div.action_buttons {
    width: 175px;
    margin: auto;
}

div.popup_container div.action_buttons div.button {
    display: block;
    float: left;
    height: 60px;
    padding-top: 5px;
    margin: 0px 5px;
}

div.actions div#save_button {
    padding: 4px;
    padding-left: 7px;
    float: right;
    cursor: pointer;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 18px;
    width: 38px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    margin: 3px;
}

div.actions div#cancel_button {
    padding: 4px;
    float: left;
    cursor: pointer;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 18px;
    width: 52px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    margin: 3px;
}

div.discount_buttons div.control_button {
    border-radius: 5px 5px 5px 5px;
    color: #333;
    cursor: pointer;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    margin: 3px;
    padding: 4px;
    width: 65px;
    max-width: 77px;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    display: table-cell;
    cursor: pointer;
    color: black;
    border: 1px solid #777;
    -moz-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0px 1px 0px #777;
    background: -moz-linear-gradient(#E7E7E7, #C1C1C1) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#E7E7E7), to(#C1C1C1));
}

div.discount_buttons div.percent {
    /*margin-top: 2px;*/
    font-size: 18px;
    height: 25px;
}

div.discount_buttons input.percent_number {
    float: left;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 75px;
    height: 35px;
    margin-top: -8px;
    font-size: 18px;

}

div#receipt_function_popup_content div#manual_discount div.fields {
    width: 130px;
    margin: auto;
}

div#receipt_function_popup_content div#manual_discount div.fields div.label {
    float: left;
    font-weight: bold;
    margin-right: 4px;
    margin-top: 6px;
    font-size: 12px;
}

div#receipt_function_popup_content div#apply_discount_to {
    margin-top: 10px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

div#receipt_function_popup_content div#apply_discount_to input[type=radio] {
    height: 20px;
    margin-left: 90px;
    float: left;
}

div#receipt_function_popup_content div#apply_discount_to div.header_label {
    text-align: left;
    font-weight: bold;
    margin: 6px;
    font-size: 12px;
}

div#receipt_function_popup_content div#apply_discount_to div.label {
    float: left;
    margin-top: 2px;
    font-size: 12px;
}

div.discount_buttons div.header {
    font-size: 18px;
    margin: 4px 4px 1px 6px;
    font-weight: bold;
    color: black;
}

div#price_editor div.header {
    font-size: 18px;
    margin: 4px 4px 1px 6px;
    font-weight: bold;
    color: black;
}

/* End Generic Styles */

