/*
Document : medium screen style
Created on : 28-Mar-2011, 22:19:16
Author : Lee
Description:
Main stylesheet.
*/

/* Global Styles */

body {
    margin: 0px;
    padding: 0px;
    color: #333333;
    font-family: verdana, sans-serif;
    font-size: 18px;
    line-height: 12px;
    background-color: #E0E0E0;

    /* disable text selection */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

input[type=radio], input[type=checkbox], input[type=button], select {
    cursor: pointer;
}

a:hover {
    background-color: transparent;
    color: #333;
}

input[type=checkbox],
input[type=radio],
input[type=submit] {
    cursor: pointer;
}

input.focus {
    border: 2px solid #E36C0A;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

div.clear {
    height: 1px;
    clear: both;
}

div.clear_spacer {
    height: 23px;
    clear: both;
    width: 100%;
    background-color: #CCC;
    background: -moz-linear-gradient(#D8D8D8, #B4B4B4) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#D8D8D8), to(#B4B4B4));
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

div.clear_top_margin_5 {
    height: 5px;
    clear: both;
}

div.clear_top_margin_10 {
    height: 10px;
    clear: both;
}

div.clear_top_margin_20 {
    height: 20px;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

input[type="submit"] {
    cursor: pointer;
}

div#wrapper {
    margin: auto;
    text-align: center;
}

div.wrapper div {
    text-align: center;
}

div.wrapper div td {
    text-align: left;
}

span#reload_message {
    cursor: pointer;
    background: -moz-linear-gradient(#558ED5, #17365D) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#558ED5), to(#17365D));
    border: 1px solid black;
    -moz-border-radius: 3px;
    border-radius: 19px;
    display: block;
    color: white;
    padding: 15px;
}

div.screen_header {
    height: 30px;
    background: -moz-linear-gradient(#558ED5, #17365D) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#558ED5), to(#17365D));
    text-align: center;
    padding: 15px 5px 5px 5px;
    font-weight: bold;
    font-size: 22px;
    color: #FFF;
}

div.screen_header div.small_button {
    margin-top: -5px;
    font-weight: normal;
}

div.screen_header div.header_label {
    color: #FFF;
    margin-top: 5px;
}

/* For page swiping */

#content-scroll {
    width: 480px;
    height: 793px;
    overflow: hidden;
    margin: auto;
}

#content-holder {
    height: 480px;
}

.content-item {
    width: 480px;
    height: 798px;
    float: left;
}

/* For page swiping */

/* Menu Screen */

div#menu_screen div#receipt_buttons_container div#receipt_container {
    border: 1px solid #000;
    float: left;
    width: 258px;
}

div#menu_screen div#receipt_buttons_container div#receipt_container div#menu_screen_receipt {
    height: 188px;
    background-color: #FFF;
    overflow-y: auto;
    display: block;
    padding-top: 3px;
    padding-left: 1px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

div#menu_screen div#receipt_buttons_container div#receipt_container div#menu_screen_receipt div#menu_screen_till_roll {
    padding-top: 4px;
    height: 157px;
    display: block;
    background-color: #FFF;
}

div#menu_screen div#receipt_buttons_container div#buttons_container {
    width: 220px;
    float: left;
    border-spacing: 3px 1px;
}

div#menu_screen div#receipt_buttons_container div#cluey_logo {
    width: 64px;
    float: left;
    margin-top: 55px;
    margin-left: 80px;
    display: none;
}

div#menu_screen div#receipt_buttons_container div#cluey_logo img {
    width: 64px;
}

div#menu_screen div#menu_container div#menu_pages_container {
    float: left;
    width: 120px;
    border-spacing: 3px 1px;
}

div#menu_screen div#menu_container div#menu_pages_container div.page {
    width: 110px;
    height: 64px;
    display: table-cell;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    border: 1px solid #777;
    -moz-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0px 1px 0px #777;
    background: -moz-linear-gradient(#E7E7E7, #C1C1C1) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#E7E7E7), to(#C1C1C1));
    line-height: 17px;
}

div#menu_screen div#menu_container div#menu_pages_container div.page div.name {
    font-size: 20px;
}

div#menu_screen div#menu_container div#menu_pages_container div.page.selected {
    background: -moz-linear-gradient(#C1C1C1, #101010) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#C1C1C1), to(#101010));
}

div#menu_screen div#menu_container div#menu_pages_container div.page.selected div.name {
    color: #FFF;
}

div#menu_screen div#menu_container div#menu_items_container {
    float: left;
    width: 360px;
    height: 600px;
    background-color: #FFF;
    border-spacing: 3px 1px;
}

div#menu_screen div#menu_container div#menu_items_container div.item {
    float: left;
    width: 116px;
    margin: 1px;
    height: 96px;
    border: 1px solid #777;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

div#menu_screen div#menu_container div#menu_items_container div.item_name {
    padding: 1px;
    overflow: hidden;
    line-height: 19px;
}

div#menu_screen div#menu_container div#menu_items_container div.item_pic {
    height: 50px;
    margin-top: 5px;
}

div#menu_screen div#menu_container div#menu_items_container div.item_pic img {
    height: 50px;
}

div#menu_screen div#order_item_additions {
    display: none;
    height: 603px;
}

div#menu_screen div#order_item_additions div.grid_row {
    width: 480px;
}

div#menu_screen div#order_item_additions div.grid_row div.grid_item {
    margin: 0px 1px;
    float: left;
    background-color: #FFF;
    border: 1px solid #555;
    cursor: pointer;
}

div#menu_screen div#order_item_additions div.grid_row div.grid_item.not_available>div {
    text-decoration: line-through;
}

div#menu_screen div#order_item_additions div.grid_row div.grid_item div.name {
    margin: 30px 0px 5px 0px;
}

div#menu_screen div#order_item_additions div.grid_row div.grid_item.empty {
    cursor: auto;
}

div#menu_screen div#table_screen {
    display: none;
    height: 603px;
}

div#menu_screen div#table_screen div#header {
    text-align: center;
    padding: 8px;
    height: 60px;
    background: -moz-linear-gradient(#558ED5, #17365D) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#558ED5), to(#17365D));
}

div#menu_screen div#table_screen div#header div#back_button {
    margin-top: 12px;
    float: left;
}

div#menu_screen div#table_screen div#header div.title {
    float: left;
    margin-left: 32px;
    margin-top: 22px;
    font-size: 24px;
    color: #FFF;
    font-weight: bold;
}

div#menu_screen div#table_screen div#table_number_show {
    margin: 5px auto;
    border: 1px solid #DDD;
    width: 430px;
    height: 28px;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0px 5px 0px;
    border: 1px solid #CCC;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0px 1px 1px 0px #777;
    background-color: #FFF;
    text-align: center;
}

div#menu_screen div#table_screen div#keypad_container {
    height: 554px;
    background-color: #E0E0E0;
}

div#menu_screen div#table_screen div#keypad_container div.keypad {

}

/* End Menu Screen */

/* Menu Screen Receipt */

div.receipt {
    line-height: 19px;
    font-size: 23px;
}

div.receipt div.till_roll div.order_line {
    margin: 0px 2px;
    cursor: pointer;
}

div.receipt div.till_roll div.order_line.course {
    border-bottom: 2px solid #4F81BD;
}

div.receipt div.till_roll div.order_line.not_synced div.name {
    font-style: italic;
    font-weight: bold;
}

div.receipt div.till_roll div.order_line.selected {
    border: 2px solid #4F81BD;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #4F81BD;
}

div.receipt div.till_roll div.order_line.selected {
    border: 2px solid #4297D7;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #4297D7;
}

div.receipt div.till_roll div.server {
    font-size: 16px;
    font-style: italic;
    margin-top: 4px;
    text-align: left;
    margin-left: 5px;
}

div.receipt div.till_roll div.amount {
    float: left;
    text-align: left;
    width: 29px;
    margin-left: 3px;
}

div.receipt div.till_roll div.name {
    float: left;
    width: 190px;
    text-align: left;
}

div.receipt div.till_roll div.modifier_name {
    float: left;
    width: 150px;
    margin-left: 50px;
    text-align: left;
}

div.receipt div.till_roll div.modifier_price {
    float: left;
    width: 30px;
    text-align: right;
}

div.receipt div.till_roll div.oia_add {
    float: left;
    width: 70px;
    text-align: right;
    font-size: 19px;
}

div.receipt div.till_roll div.oia_name {
    float: left;
    width: 150px;
    margin-left: 10px;
    text-align: left;
    font-size: 19px;
}

div.receipt div.till_roll div.oia_name.note {
    font-style: italic;
    width: 190px;
    font-size: 19px;
    font-size: 19px;
}

div.receipt div.till_roll div.oia_price {
    float: left;
    width: 0px;
    text-align: right;
    font-size: 19px;
    overflow: hidden;
}

div.receipt div.till_roll div.total {
    float: left;
    width: 0px;
    text-align: right;
    overflow: hidden;
}

div.receipt div.till_roll div.discount div.header {
    float: left;
    width: 120px;
    text-align: right;
    font-style: italic;
}

div.receipt div.till_roll div.discount div.discount_amount {
    float: left;
    width: 66px;
    text-align: center;
    font-style: italic;
}

div.receipt div.till_roll div.discount div.new_price {
    float: left;
    width: 40px;
    text-align: left;
    font-style: italic;
}

div.receipt div.till_roll div.discount div.header {
    float: left;
    width: 120px;
    text-align: right;
    font-style: italic;
}

/* End Menu Screen Receipt */

/* Receipt Screen */

div#receipt_screen {
    height: 790px;
}

div#receipt_screen div#header {

}

div#receipt_screen div#header div#back_button {
    float: right;
}

div#receipt_screen div#header div#table_name {
    margin: 4px 0px 0px 85px;
    font-weight: bold;
    color: #FFF;
}

div#receipt_screen div#function_buttons {
    border-spacing: 14px 3px;
}

div#receipt_screen div#function_buttons div.button {
    height: 60px;
    max-height: 60px;
    width: 100px;
    max-width: 100px;
}

div#receipt_screen div#large_receipt_container {
    width: 470px;
    border: 1px solid #777;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: auto;
}

div#receipt_screen div#large_receipt_container div#large_menu_screen_receipt {    
    height: 628px;
    background-color: #FFF;
    overflow-y: auto;
    display: block;
    padding-top: 3px;
    padding-left: 1px;
}

div#receipt_screen div#large_receipt_container div#large_menu_screen_receipt div#large_menu_screen_till_roll {
    padding-top: 4px;
    height: 610px;
    display: block;
    background-color: #FFF;
}

/* End Receipt Screen */

/* Functions Screen */

div#functions_screen {

}

div#functions_screen div#header {

}

div#functions_screen div#header div#back_button {
    float: left;
}

div#functions_screen div#header div.header_label {
    float: left;
    margin-left: 95px;
}

div#functions_screen div#functions_buttons_container {
    border-spacing: 6px;
    padding: 15px;
}

/* End Functions Screen */

/* Generic Styles */

div.button {
    width: 103px;
    max-width: 103px;
    height: 87px;
    max-height: 87px;
    overflow: hidden;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    cursor: pointer;
    border: 1px solid #777;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0px 1px 0px #777;
    background: -moz-linear-gradient(#E7E7E7, #C1C1C1) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#E7E7E7), to(#C1C1C1));
}

div.button.selected {
    background: -moz-linear-gradient(#C1C1C1, #101010) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#C1C1C1), to(#101010));
    color: #FFF;
}

div.button div.icon {
    min-height: 50px;
    padding-top: 5px;
}

div.button div.icon img {
    max-height: 50px;
    max-width: 50px;
}

div.button div.button_name {
    padding: 0px 3px;
    font-size: 16px;
}

div.button div.button_name {
    padding: 7px 0px;
    font-size: 21px;
    line-height: 23px;
    text-decoration: none;
    color: #333333;
}

div.button.selected div.button_name {
    color: #FFFFFF;
}

div.button div.button_name a:hover {
    background-color: transparent;
}

div.small_button {
    font-size: 19px;
    width: 83px;
    max-width: 83px;
    padding-top: 10px;
    height: 22px;
    max-height: 22px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #777;
    -moz-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0px 1px 0px #777;
    background: -moz-linear-gradient(#E7E7E7, #C1C1C1) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#E7E7E7), to(#C1C1C1));
}

div.tabs {
    background-color: #B4B4B4;
    border-spacing: 2px;
    margin-bottom: -4px;
}

div.tabs div.tab {
    background: -moz-linear-gradient(#D8D8D8, #B4B4B4) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#D8D8D8), to(#B4B4B4));
    border: 1px solid #AAAAAA;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    cursor: pointer;
    display: table-cell;
    height: 55px;
    margin: 1px;
    text-align: center;
    vertical-align: middle;
    width: 88px;
}

div.tabs div.tab.selected {
    background: -moz-linear-gradient(#F8F8F8, #E0E0E0) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#E0E0E0));
    border-bottom-width: 0;
}

div.tabs div.tab img {
    float: left;
    margin-left: 6px;
}

div.tabs div.tab div.label {
    float: left;
    margin-left: 9px;
    margin-top: 9px;
}

div.text_only_tabs {
    background-color: #B4B4B4;
    border-spacing: 2px;
    margin-bottom: -4px;
}

div.text_only_tabs div.text_only_tab {
    background: -moz-linear-gradient(#D8D8D8, #B4B4B4) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#D8D8D8), to(#B4B4B4));
    border: 1px solid #AAAAAA;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    cursor: pointer;
    display: table-cell;
    height: 55px;
    margin: 1px;
    text-align: center;
    vertical-align: middle;
    width: 88px;
}

div.text_only_tabs div.text_only_tab.selected {
    background: -moz-linear-gradient(#F8F8F8, #E0E0E0) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#E0E0E0));
    border-bottom-width: 0;
}

div.text_only_tabs div.text_only_tab div.label {
    color: black;
    font-size: 13px;
    padding: 4px;
    text-decoration: none;
}

div.keypad {
    height: 440px;
}

div.keypad div.keys {
    width: 470px;
    margin: auto;
}

div.keypad div.keys div {
    color: #333333;
    vertical-align: middle;
    text-align: center;
    float: left;
    margin: 2px;
    width: 150px;
    padding-top: 47px;
    height: 57px;
    font-size: 30px;
    border: 1px solid #777;
    cursor: pointer;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 0px #777;
    background: -moz-linear-gradient(#FFF, #CCC) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));
}

div#nice_alert {
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
    line-height: 32px;
}

input#niceAlertContainer_okButton {
    font-size: 28px;
    font-weight: bold;
    width: 260px;
    height: 70px;
    background: -moz-linear-gradient(#FFF, #CCC) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 0px #777;
}

div#menu_screen div#menu_container div#menu_items_container div.items div.item.pressed,
div#menu_screen div#menu_container div#menu_pages_container div.page.pressed,
#wrapper div.button.pressed,
#wrapper div.key.pressed,
#wrapper div.go_key.pressed,
#wrapper div.cancel_key.pressed {
    border: 1px solid #E36C0A; 
    background: #eee;
    -moz-opacity: 90;
    filter:alpha(opacity: .90);
    opacity: .90;    
}

div#menu_screen div#menu_container div#menu_items_container div.items div.item.pressed *,
div#menu_screen div#menu_container div#menu_pages_container div.page.pressed *,
#wrapper div.button.pressed *,
#wrapper div.key.pressed *,
#wrapper div.go_key.pressed *,
#wrapper div.cancel_key.pressed * {
    background: #eee;
    -moz-opacity: 90;
    filter:alpha(opacity: .90);
    opacity: .90;     
}

div#menu_screen div#menu_container div#menu_items_container div.items div.item.pressed img {
    -moz-opacity: 30;
    filter:alpha(opacity: .30);
    opacity: .30;
}

/* End Generic Styles */