<section id="active_employees">

  <% @employees.each do |e| %>
    <div class="employee_box" id="employee_box_<%=e.id%>" data-onpress="doQuickLogin(<%=e.id%>);">
      <div class="avatar"><%= employee_image_thumb e, true %></div>
      <div class="nickname"><%= e.nickname %></div>
    </div>
  <% end %>

</section>