div#kitchen_screen {

}

div#kitchen_screen div#header {
    height: 90px;
}

div#kitchen_screen div#header div#tabs {
    float: left;
}

div#kitchen_screen div#header div#show_all_orders_controls {
    float: left;
    width: 290px;
    margin-top: 30px;
    margin-left: 10px;
}

div#kitchen_screen div#header div#show_all_orders_controls input {
    float: left;
}

div#kitchen_screen div#header div#show_all_orders_controls div.label {
    float: left;
    margin-top: 6px;
    font-size: 13px;
}

div#kitchen_screen div#header div#kitchen_screen_status_message {
    float: left;
    border: 1px solid #000;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: white;
    margin-top: 30px;
    width: 400px;
    padding: 2px;
    display: none;
}

div#kitchen_screen div#loading_message {
    font-size: 32px;
    border: 3px solid #000;
    -moz-border-radius: 11px;
    border-radius: 11px;
    background-color: white;
    width: 650px;
    height: 75px;
    padding-top: 50px;
    margin: 200px auto 0px auto;
}

div#kitchen_screen div#loading_message img {
    margin-top: -30px;
    margin-right: 30px;
}

div#kitchen_screen div#no_orders_message {
    font-size: 32px;
    border: 3px solid #000;
    -moz-border-radius: 11px;
    border-radius: 11px;
    background-color: white;
    width: 490px;
    height: 75px;
    padding-top: 50px;
    margin: 200px auto 0px auto;
}

div#kitchen_screen div#header div#function_buttons {
    float: right;
    border-spacing: 7px 0px;
    padding: 7px;
}

div#kitchen_screen div#receipts_container {
    height: 650px;
    display: none;
    overflow-y: auto;
}

div#kitchen_screen div#receipts_container div#empty_orders,
div#kitchen_screen div#receipts_container div#filled_orders {
    display: none;
}

div#kitchen_screen div#receipts_container div.kitchen_receipt_container {
    height: 208px;
    width: 231px;
    margin: 3px 5px;
    float: left;
    border: 1px solid #000;
    -moz-border-radius: 11px;
    border-radius: 11px;
    background-color: white;
    display: none;
}

div#kitchen_screen div#receipts_container div.kitchen_receipt_container div.header {
    padding: 3px 5px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    background: -moz-linear-gradient(#558ED5, #17365D) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#558ED5), to(#17365D));
    font-size: 13px;
    font-weight: bold;
    color: #FFF;
}

div#kitchen_screen div#receipts_container div.kitchen_receipt_container div.header.being_removed {
    
}

div#kitchen_screen div#receipts_container div.kitchen_receipt_container div.header.returned {
    
}

div#kitchen_screen div#receipts_container div.kitchen_receipt_container div.header div.table_number {
    float: left;
    margin: 4px;
    margin-left: 7px;
}

div#kitchen_screen div#receipts_container div.kitchen_receipt_container div.header div.table_time {
    float: left;
    margin: 4px;
    margin-left: 2px;
}

div#kitchen_screen div#receipts_container div.kitchen_receipt_container div.header div.order_num {
    float: right;
    margin: 4px;
    margin-right: 7px;
}

div#kitchen_screen div#receipts_container div.kitchen_receipt_container div.header div.hide_order_button {
    float: right;
    display: none;
    margin-top: 2px;
    margin-right: 2px;
    height: 19px;
}

div#kitchen_screen div#receipts_container div.kitchen_receipt_container div.header div.hide_order_button img {
    width: 30px;
    margin-top: -5px;
    cursor: pointer;
}

div#kitchen_screen div#receipts_container div.kitchen_receipt_container div.receipt {
    -moz-border-radius: 11px;
    border-radius: 11px;
    height: 168px;
    overflow-y: auto;
    display: block;
    background-color: white;
}

div#kitchen_screen div#receipts_container div.kitchen_receipt_container div.receipt div.till_roll {
    height: 159px;
    display: block;
    background-color: white;
}

div#kitchen_screen div#receipts_container div.kitchen_receipt_container div.receipt div.till_roll div.total {
    display: none;
}

div#kitchen_screen div#receipts_container div.kitchen_receipt_container div.receipt div.till_roll div.oia_price {
    display: none;
}

div#kitchen_screen div#receipts_container div.kitchen_receipt_container div.receipt div.till_roll div.discount {
    display: none;
}

div#kitchen_screen div#receipts_container div.kitchen_receipt_container div.receipt div.till_roll div.order_line.course_checked {
    background-color: #D6E3BC;
}