<div id="product_image_selection_dialog" class="jscrollpane">
<% @first_letters.each do |letter| %>
    <div class="letter_pagination">
        <div onclick="loadCurrentImages('<%= letter %>')"><b><%= letter %></b></div>
    </div>

<% end %>
<div id="show_current_images">
      <%= render :partial => "current_product_images" %>
</div>
</div>
