<div class="header">Help</div>

<div class="main_content">
  <p>
    <a href="http://support.cluey.com" target="_blank">Support</a>
  </p>

  <p>
    You agree to everything to use the Cluey system.
  </p>
</div>