<div class="header">Terms and Conditions</div>

<div class="main_content">
  <p>
    Text here for terms and conditions
  </p>

  <p>
    You agree to everything to use the Cluey system.
  </p>
</div>