<% if development_mode? %>
  <!-- weinre debug server script -->
  <script src="http://192.168.1.9:8080/target/target-script-min.js#anonymous"></script>
<% end %>

<div id="js_player">&nbsp;</div>

<%= render "/partials/interfaces/shared/hide_spinner_footer_js" %>