<title>Cluey - POS</title>

<%= render "/partials/interfaces/medium_screen/assets" %>

<%= csrf_meta_tag %>

<script type="text/javascript">
  //if we pass this param, we clear our local data, this is mainly used in the mobile app
  <% if params[:reset_local_storage] == "true" %>
      clearLocalStorageAndCookies();
  <% end %>
</script>

<%= yield :head %>

<%= render "/partials/interfaces/shared/shared_head_meta_tags" %>
