div#mobile_receipt {
    height: 200px;
    width: 280px;
    margin: auto;
    margin-top: 10px;
    overflow-y: auto;
    background-color: #FFF;
    border: 2px solid #AAA;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: block;
}

div#mobile_till_roll {
    height: 190px;
    display: block;
    background-color: #FFF;
}