<div id="server_info_screen">
  <div class="toolbar">

    <%= link_to "Back", nil, :class => "back" %>

    <h1>Server</h1>
  </div>

  <div id="sub_title">
    <span class="server_id"></span> 
  </div>
  
  <div id="mobile_server_receipt" class="mobile_receipt receipt">
    <div id="mobile_server_till_roll" class="mobile_till_roll till_roll">
      
    </div>
  </div>

</div>