<div id="table_info_screen">
  <div class="toolbar">

    <%= link_to "Back", nil, :class => "back" %>

    <h1>Table</h1>
  </div>

  <div id="sub_title">
    <span class="table_label"></span> 
  </div>
  
  <div id="mobile_table_receipt" class="mobile_receipt receipt">
    <div id="mobile_table_till_roll" class="mobile_till_roll till_roll">
      
    </div>
  </div>

</div>