<div id="terminal_info_screen">
  <div class="toolbar">

    <%= link_to "Back", nil, :class => "back" %>

    <h1><span class="terminal_id"></span> Receipt</h1>
  </div>

  <div id="mobile_terminal_receipt" class="mobile_receipt receipt">
    <div id="mobile_terminal_till_roll" class="mobile_till_roll till_roll">
      
    </div>
  </div>

</div>