<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => "/partials/common_head" %>
  </head>
  <body>

    <div id="wrapper" class="wrapper">
      <div id="body">
        <div id="content_container">
          <%= render :partial => "/partials/nav" %>

          <%= yield %>
        </div>
      </div>

    </div>
    
    <%= render :partial => "/partials/common_footer" %>

  </body>
</html>
