<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => "/partials/common_head" %>

    <%= javascript_include_tag "/jqtouch/jqtouch", "mobile/mobile", "mobile/mobile_login_functions", "mobile/mobile_util" %>
    <%= stylesheet_link_tag "/jqtouch/jqtouch", "/jqtouch/themes/apple/theme", "mobile/mobile" %>

  </head>
  <body class="mobile">

    <%= yield %>

  </body>
</html>
