<!DOCTYPE html>
<html>
  <head>
    <!-- include the head form the large interface -->
    <%= render :partial => "/partials/interfaces/large_screen/common_head" %>
    
    <%= javascript_include_tag "/jqtouch/jqtouch", "mobile/mobile", "mobile/mobile_login_functions", "mobile/mobile_util" %>
    <%= stylesheet_links "/jqtouch/jqtouch", "/jqtouch/themes/apple/theme", "mobile/", :cache => "cache/mobile", :recursive => true %>
  </head>
  
  <body class="mobile">
    <%= yield %>
  </body>
</html>
