<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => "/partials/mobile_assets" %>
    
    <!-- include the head form the large interface -->
    <%= render :partial => "/partials/interfaces/large_screen/common_head" %>

  </head>

  <body class="mobile">

    <div id="jqt">
      <%= yield %>
    </div>

    <%= render "/partials/interfaces/shared/end_page_js" %>

  </body>

</html>
