<div id="login" class="current">
  <div class="toolbar">

    <h1>Enter Pin</h1>

  </div>

  <div class="clear_spacer">
    <div id="login_screen_status_message_container" class="global_status_message_container">
      <div id="login_screen_status_message" class="global_status_message"></div>
    </div>
  </div>

  <div id="entered_code_container">
    
    <div class="clear_top_margin_10">&nbsp;</div>
    
    <div id="clockincode_show"></div>
    <%= hidden_field_tag :num, nil, :id => :num, :size => "18" %>
  </div>

  <div id="keypad" class="keypad">
    <div id="keys" class="keys">
      <% [[7,9],[4,6],[1,3]].each do |x,y| %>
        <% (x..y).each do |num| %>
          <div id="num_<%= num %>" class="key" onclick="mobileLoginScreenKeypadClick(<%=num%>)"><%= num %></div>
        <% end %>
      <% end %>

      <div class="cancel_key" class="key" onclick="doCancelMobileLoginKeypad()">C</div>
      <div id="num_0" class="key" onclick="mobileLoginScreenKeypadClick(0)">0</div>
      <div class="go_key" class="key" onclick="doMobileLogin($('#num').val());return false;">OK</div>
    </div>
  </div>
</div>