<div id="terminal_list">
  <div class="toolbar">

    <a href="#menu" class="back cube">Menu</a>
    
    <h1>Terminals</h1>

  </div>

  <ul>
    <% @all_terminals.each do |terminal_id|%>
      <li class="arrow">
        <a href="#terminal_info_screen" data-page_name="terminal_recpt_info" data-params="terminal_id=<%=terminal_id%>"><%=terminal_id%></a>
      </li>
    <% end %>
  </ul>

</div>