<div class="dropdown_container" style="margin-left: 50px;">
    <div class="label">Employee</div>
    <%= collection_select :employee_id, :equals, current_outlet.employees.where("staff_id != ?", Employee::CLUEY_USER_STAFF_ID).where("staff_id != ?", Employee::CHEF_USER_STAFF_ID).all.sort_by{|p| p.name.downcase}, :id, :name, options = {:include_blank => "Any", :selected => @current_method}, {:onchange => "loadPaymentDropDown('employee')", :style=>'width:105px'} %>
    <div class="clear">&nbsp;</div>
</div>